<div class="half">
    <div class="bg order-1 order-md-2" style="background-image: url('/adminLogin/images/bg_1.jpg');"></div>
    <ol class="breadcrumb">
        <li class="pr-3"><a href="/admin" style="text-decoration: none;">Home</a></li>
        <li class="pr-3"><a href="/admin/products" style="text-decoration: none;">All Products</a></li>
        <li class="active">Edit Product</li>
    </ol>
    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mb-5">
                        <h3>Add <strong>New Product</strong></h3>

                    </div>
                    <form action="/admin/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data"
                        style="padding-top: 40px;" id="edit-prod">


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Product Name</label>
                                <input type="text" class="form-control" id="inputName" value="{{product.name}}"
                                    name="name">
                            </div>


                            <div class="form-group col-md-6">

                                <label for="brand">Brand</label>

                                <select name="brand" class="custom-select p-2">
                                   <option value="{{product.brand}}" selected>{{product.brand}}</option>

                                    {{#each brands}}
                                    <option value="{{this.brand}}">{{this.brand}}</option>
                                    {{/each}}
                                </select>
                                {{#if catErrPro}}
                                <p class="text-center text-danger">{{catErrPro}}</p>
                                {{/if}}


                            </div>
                        </div>
                        <div class="form-row">
                            {{!-- <div class="form-group col-md-5">
                                <label for="inputDescription">Description</label>
                                <input type="text" class="form-control" id="inputDescription" name="description">
                            </div> --}}

                            <div class="form-group col-md-6">

                                <label for="category">Category</label>

                                <select name="category" class="custom-select p-2">
                                    <option value="{{product.category}}" selected>{{product.category}}</option>

                                    {{#each categories}}
                                    <option value="{{this.category}}">{{this.category}}</option>
                                    {{/each}}
                                </select>
                                {{#if catErrPro}}
                                <p class="text-center text-danger">{{catErrPro}}</p>
                                {{/if}}

                            </div>
                            <div class="form-group col-md-6">


                                <label for="inputCost">Landing cost</label>
                                <input type="number" class="form-control" id="inputCost" value="{{product.cost}}"
                                    name="cost">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPrice">Price</label>
                                <input type="number" class="form-control" id="inputPrice" value="{{product.price}}"
                                    name="price">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputStock">Stock</label>
                                <input type="number" class="form-control" id="inputStock" value="{{product.stock}}"
                                    name="stock">
                            </div>

                        </div>


                        <div class="form-row  pb-3 ">
                            <div class="form-group mt-2 col-md-4 ml-2">
                                <label for="exampleFormControlFile1">Select Main Image</label>
                                <img src="/productImages/{{product._id}}a.jpg" style="width:100px;height:100px;" id="imgView"><br><br>
                                <input type="file" class="form-control" name="image1" id="exampleFormControlFile1"
                                    style="width: 250px;" accept="image/*" onchange="viewMainImage(event)">
                            </div>

                            <div class="form-group mt-2 col-md-4 ml-2">
                                <label for="exampleFormControlFile1">Select 1st Image</label>
                                <img src="/productImages/{{product._id}}b.jpg" style="width:100px;height:100px;" id="imgView1"><br><br>
                                <input type="file" class="form-control" name="image2" id="exampleFormControlFile1"
                                    style="width: 250px;" accept="image/*" onchange="viewImage1(event)">
                            </div>
                            <div class="form-group mt-2 col-md-4 ml-2">
                                <label for="exampleFormControlFile2">Select 2nd Image</label>
                                <img src="/productImages/{{product._id}}c.jpg" style="width:100px;height:100px;" id="imgView2"><br><br>
                                <input type="file" class="form-control" name="image3" id="exampleFormControlFile2"
                                    style="width: 250px;" accept="image/*" onchange="viewImage2(event)">
                            </div>
                            <div class="form-group mt-2 col-md-4 ml-2">
                                <label for="exampleFormControlFile3">Select 3rd Image</label>
                                <img src="/productImages/{{product._id}}d.jpg" style="width:100px;height:100px;" id="imgView3"><br><br>
                                <input type="file" class="form-control" name="image4" id="exampleFormControlFile3"
                                    style="width: 250px;" accept="image/*" onchange="viewImage3(event)">
                            </div>
                        </div>
                        <p class="text-warning text-center" style="display: none;" id="errMsg">Only Image is
                            Accepted</p>


                        <input type="submit" value="Edit" id='sub' class="btn  btn-success mt-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>