<div class="half">
    <div class="bg order-1 order-md-2" style="background-image: url('/adminLogin/images/bg_1.jpg');"></div>
    <ol class="breadcrumb">
        <li class="pr-3"><a href="/admin" style="text-decoration: none;">Home</a></li>
        <li class="pr-3"><a href="/admin/products" style="text-decoration: none;">All Products</a></li>
        <li class="active">Edit Product</li>
    </ol>
    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="text-center mb-5">
                        <h3>Edit <strong>Product</strong></h3>
                    </div>
                    <form action="/admin/edit-product/{{product._id}}" onsubmit="return submitForm(this);
                    " method="POST" enctype="multipart/form-data" style="padding-top: 40px;" id="edit-prod">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Product Name</label>
                                <input type="text" class="form-control" id="inputName" value="{{product.name}}"
                                    name="name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="brand">Brand</label>
                                <select name="brand" class="custom-select p-2">
                                    <option value="{{product.brand}}" selected>{{product.brand}}</option>
                                    {{#each brands}}
                                    <option value="{{this.brand}}">{{this.brand}}</option>
                                    {{/each}}
                                </select>
                                {{#if catErrPro}}
                                <p class="text-center text-danger">{{catErrPro}}</p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <label for="category">Category</label>

                                <select name="category" class="custom-select p-2">
                                    <option value="{{product.category}}" selected>{{product.category}}</option>

                                    {{#each categories}}
                                    <option value="{{this.category}}">{{this.category}}</option>
                                    {{/each}}
                                </select>
                                {{#if catErrPro}}
                                <p class="text-center text-danger">{{catErrPro}}</p>
                                {{/if}}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCost">Landing cost</label>
                                <input type="number" class="form-control" id="landCost" value="{{product.cost}}"
                                    name="cost">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPrice">Price</label>
                                <input type="number" class="form-control" id="Price" value="{{product.price}}"
                                    name="price">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputStock">Stock</label>
                                <input type="number" class="form-control" id="inputStock" value="{{product.stock}}"
                                    name="stock">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="image-box1" style="width: 500px; height: 500px; display: none;"></div>
                                <button class="btn btn-primary mt-3" type="button" style="display: none;"
                                    id="crop-btn1">Crop</button>
                            </div>
                            <div class="mt-5 col-md-6">
                                <label for="">IMAGE 1</label>
                                <img src="https://shabith.ml/productImages/{{product._id}}a.jpg" alt="" style="width: 100px; height:auto"
                                    id="imgview1">
                                <input type="file" name="image1" id="file1" class="form-control"
                                    onchange="return fileValidation1()">
                            </div>

                            <div class="mt-5 col-md-6">
                                <label for="">IMAGE 2</label>
                                <img src="https://shabith.ml/productImages/{{product._id}}b.jpg" alt="" style="width: 100px; height:auto"
                                    id="imgview2">
                                <input type="file" name="image2" id="file2" class="form-control"
                                    onchange="return fileValidation2()">
                            </div>
                            <div class="mt-5 col-md-6">
                                <label for="">IMAGE 3</label>
                                <img src="https://shabith.ml/productImages/{{product._id}}c.jpg" alt="" style="width: 100px; height:auto"
                                    id="imgview3">
                                <input type="file" name="image3" id="file3" class="form-control"
                                    onchange="return fileValidation3()">
                            </div>
                            <div class="mt-5 col-md-6">
                                <label for="">IMAGE 4</label>
                                <img src="https://shabith.ml/productImages/{{product._id}}d.jpg" alt="" style="width: 100px; height:auto"
                                    id="imgview4">
                                <input type="file" name="image4" id="file4" class="form-control"
                                    onchange="return fileValidation4()">
                            </div>
                        </div>
                        <center>
                            <button id="confirm-btn1" type="submit" class="btn btn-primary mt-5">Edit
                                Product</button><br>
                        </center>
                        <p class="text-warning text-center" style="display: none;" id="errMsg">Only Image is
                            Accepted</p>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#landCost').change(function () {
            let cost = document.getElementById('landCost').value
            let price = document.getElementById('Price').value
            alert(cost)
            alert(price)
            let newPrice = parseInt(cost) + 500
            $('#Price').attr('min', newPrice)
        })
    })
</script>