
<section id="add">
    <div class="half">
        <div class="bg order-1 order-md-2" style="background-image: url('/adminLogin/images/bg_1.jpg');"></div>

        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-block" id="cat">
                                <div class="text-center mb-5">
                                    <h3> <strong>Coupons</strong></h3>
                                    {{#if catErr}}
                                    <p class="text-center text-danger">{{catErr}}</p>
                                    {{/if}}
                                </div>
                                <form action="/admin/edit-coupon/{{coupon._id}}" id="categoryPage" method="post">
                                    <div class="form-group first">
                                        <label for="category">Coupon code</label>
                                       <input type="text" class="form-control" value="{{coupon.Coupon}}" name="Coupon">

                                        <label class="pt-4">Starting Date</label>
                                        <input type="Date" class="form-control" required value="{{coupon.Starting}}" name="Starting" id="str">
                                        <label class="pt-4">Expiry Date</label>
                                        <input type="Date" class="form-control" required name="Expiry" value="{{coupon.Expiry}}" id="exp">
                                        <label class="pt-4">Coupon Percentage</label>
                                        <input type="number" class="form-control"
                                            onkeydown="return event.keyCode !== 69" required name="Offer" value="{{coupon.Offer}}" max="95">


                                    </div>
                                    <input type="submit" value="Edit" id="catsub" class="btn btn-block btn-primary">

                                </form>

                            </div>
                        </div>




                    </div>

                </div>
            </div>
        </div>


    </div>


</section>


<script>
    $("#proSelect").select2({
        placeholder: "Select A Product",
        allowClear: true
    });
</script>
<script>
    $(document).ready(function () {

        $('#str').blur(function () {
            let date = document.getElementById('str').value
            console.log(date)
            let today = new Date()
            var dd = today.getDate();
            var mm = today.getMonth() + 1;

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            today = yyyy + '-' + mm + '-' + dd;
            console.log(today)
            if (date < today) {
                $('#catsub').hide()
                Swal.fire('Choose a valid Date')
            } else {
                $('#catsub').show()
            }
        })
        $('#exp').blur(function () {
            let date = document.getElementById('exp').value
            let strDate = document.getElementById('str').value

            console.log(date)
            let today = new Date()
            var dd = today.getDate();
            var mm = today.getMonth() + 1;

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            today = yyyy + '-' + mm + '-' + dd;
            console.log(today)
            if (date < today) {
                $('#prosub').hide()
                Swal.fire('Choose a valid Date')
            } else if (strDate > date) {
                $('#prosub').hide()
                Swal.fire('Choose a valid Date')
            }
            else {
                $('#catsub').show()
            }
        })
    })
</script>