<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-5">
                <div class="col-md-12 bg-dark">
                    <h1 class="text-center text-white rounded pt-1">User report</h1> 
                </div>
                <div class="col-md-12 card mt-4">
                    {{#if reports.noData}}
                    <table class="table table-hover" id="example1">
                        {{else}}
                        <table class="table table-hover" id="example">
                            {{/if}}
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total Orders</th>
                                    <th scope="col">Total products</th>
                                    <th scope="col">Total amount spend</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each reports}}
                                <tr>
                                    <td></td>
                                    <td>{{this.userData.firstname}} {{this.userData.lastname}}</td>

                                    <td>{{this.userData.email}}</td>
                                    <td>{{this.totalOrders}}</td>
                                    <td> {{this.productsBuy}}</td>
                                    <td>{{this.spend}}.00</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>