<div id="shopify-section-header" class="shopify-section ">
    <header class="back-to-top intelligent-header pl-155 pr-155 border-bottom">
        <div class="header-area header-area-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-xl-3 col-md-6 col-6">
                        <div class="logo">
                            <a href="/">
                                <h2>Watchin.</h2>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-6 menu-none-block menu-center">
                        <nav>
                            <ul class="mainmenu">
                                <li class=""><a href="/">Home</a> </li>
                                <li class=""><a href="">Shop</a>
                                    <ul class="spx-dropdown-menu">
                                        <li class="megamenus"><a class="title" href="">Best Brands</a>
                                            <ul class="mega__item">
                                                {{#each brand}}
                                                <li><a href="/brandProducts/{{this.brand}}">{{this.brand}}</a></li>
                                                {{/each}}
                                            </ul>
                                        </li>
                                        <li class="megamenus"><a class="title" href="">New Arrival</a>
                                            <ul class="mega__item">
                                                {{#each homePro}}
                                                <li><a href="/products/{{this.name}}">{{this.name}}</a></li>
                                                {{/each}}
                                            </ul>
                                        <li class="megamenuu image-menu">
                                            <a href="/"><img src="images/watchImages/curren.jpg" alt="" /></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class=""><a href="/products">Products</a>
                                </li>
                                <li class=""><a href="/contact">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-2 col-xl-3 col-md-6 col-6">
                        <div class="header-search-cart">
                            <div class="header-cart common-style">
                                <button class="relative">
                                    <a href="/wishlist" class="text-dark">
                                        <span class="far fa-heart"></ion-icon></i>
                                    </a></button>
                            </div>
                            <div class="header-cart common-style">
                                <button class=" relative">
                                    <a href="/cart"><span class="ion-bag"></span></a>
                                    {{#if cartCount}}
                                    <span class="mini_cart_count bigcounter" id="cartCount">{{cartCount}}</span>
                                    {{else}}
                                    <span class="mini_cart_count bigcounter">0</span>
                                    {{/if}}
                                </button>
                            </div>
                            <div class="header-sidebar common-style">
                                <button class="header-navbar-active">
                                    <span class="ion-profile"></span>
                                </button>
                            </div>
                            <div class="header-sidebar common-style">
                                <button class="header-navbar-active">
                                    <span class="ion-navicon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    {{!-- MObile menu --}}
                    <div class="mobile-menu-area d-md-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active" class="d-none">
                                <ul class="menu-overflow">
                                    {{#if user}}
                                    <p>{{user.firstname}} {{user.lastname}}</p>
                                    <li><a href="/profile">My Account</a></li>
                                    <li><a href="/cart">My Cart</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>
                                    <li><a href="/myOrders">My Orders</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                    {{else}}
                                    <li><a href="/login">Log In</a></li>
                                    <li><a href="/signup">Register</a></li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="header-space"></div>
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="ion-android-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form action="/" method="get" class="input-group search-bar" role="search">
                <div class="form-search">
                    <input id="search" type="search" name="q" class="input-text" value=""
                        placeholder="Search Entire Store">
                    <button type="submit">
                        <i class="ion-ios-search-strong"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="cur-lang-acc-active">
        <div class="wrap-sidebar">
            <div class="sidebar-nav-icon">
                <button class="op-sidebar-close"><span class="ion-android-close"></span></button>
            </div>
            <div class="cur-lang-acc-all">
                <div class="single-currency-language-account">
                    <div class="cur-lang-acc-title">
                        <h4>{{user.firstname}} {{user.lastname}}</h4>
                    </div>
                    <div class="cur-lang-acc-dropdown user_menu">
                        <ul>
                            {{#if user}}

                            <li><a href="/profile">My Account</a></li>
                            <li><a href="/cart">My Cart</a></li>
                            <li><a href="/wishlist">Wishlist</a></li>
                            <li><a href="/myOrders">My Orders</a></li>
                            <li><a href="/logout">Logout</a></li>
                            {{else}}
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/signup">Register</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>