
<div class="mt-3 mb-5">
    <center>
        <h3>
            <strong>ALL PRODUCTS</strong>
        </h3>
    </center>
</div>
<div class="container tab-content jump mb-4">
    <div class="row">
        <div class="rhs_product_tab rhs_match_height">
            {{!-- Product starting --}}
            {{#each products}}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-2">
                <div class="single-product mb-35">
                    <div class="product-img">
                        <a href="/product/{{this._id}}">
                            <img src="https://shabith.ml/productImages/{{this._id}}a.jpg" alt="">
                        </a>
                        <div class="product-action">
                            <a class="animate-left" href="" onclick="addToWishlistA('{{this._id}}',event)" id="{{this._id}}A"
                                title="Wishlist">
                                <i class="ion-ios-heart-outline"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-title-price">
                            <div class="product-title">
                                <h4><a href="#">{{this.name}}</a>
                                </h4>
                            </div>
                        </div>
                        <div class="product-cart-categori">
                            <div class="product-cart">
                                <span>{{this.category}}</span>
                            </div>
                            <div class="product-price">
                                {{#if this.offer}}
                                <div class="product-price">
                                    <span class="price--sale"><span class=money>₹
                                            {{this.price}}</span></span>
                                    <span><del><span class=money>₹
                                                {{this.actualPrice}}</span></del></span>

                                </div>
                                {{else}}
                                <div class="product-price">
                                    <span class="price--sale"><span class=money>₹
                                            {{this.price}}</span></span>
                                </div>
                                {{/if}}

                            </div>
                            <div class="product-categori">

                                {{#if this.stockout}}
                                <span class="text-danger">Out of stock</span>
                                {{else}}
                                <button class="add_cart btn btn-light cart-item "
                                    style="width: 130px; border: 1px solid black !important;"
                                    onclick="addToCart('{{this._id}}','{{this.stock}}')" title="Add to cart">

                                    <i class="ion-bag"></i>
                                    <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                    <i class="ion-android-done"></i> Add to Cart
                                </button>
                                <br>
                                <a class="add_cart btn btn-light cart-item mt-1" href="/buyNow/{{this._id}}"
                                    style="width: 130px; border: 1px solid black !important;">

                                    <i class="ion-bag"></i>
                                    <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                    <i class="ion-android-done"></i> Buy Now
                                </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- Product ending --}}
        </div>
    </div>
</div>