<style>
    .bloc_left_price {
        color: #c01508;
        text-align: center;
        font-weight: bold;
        font-size: 150%;
    }


    .card-header {
        background-color: #a8741a;
    }

    .category_block li:hover a {
        color: #ffffff;
    }

    .category_block li a {
        color: #343a40;
    }

    .add_to_cart_block .price {
        color: #c01508;
        text-align: center;
        font-weight: bold;
        font-size: 200%;
        margin-bottom: 0;
    }

    .add_to_cart_block .price_discounted {
        color: #343a40;
        text-align: center;
        text-decoration: line-through;
        font-size: 140%;
    }

    .product_rassurance {
        padding: 10px;
        margin-top: 15px;
        background: #ffffff;
        border: 1px solid #6c757d;
        color: #6c757d;
    }

    .product_rassurance .list-inline {
        margin-bottom: 0;
        text-transform: uppercase;
        text-align: center;
    }

    .product_rassurance .list-inline li:hover {
        color: #343a40;
    }

    .reviews_product .fa-star {
        color: gold;
    }

    .pagination {
        margin-top: 20px;
    }

    footer {
        background: #343a40;
        padding: 40px;
    }

    footer a {
        color: #f8f9fa !important
    }
   
</style>


<div class="container mt-5">
    <h3>{{brandName}}</h3>

    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header  text-white text-uppercase"><i class="fa fa-list"></i>Brands
                </div>
                <ul class="list-group category_block">
                    {{#each allBrands}}
                    <a href="/brandProducts/{{this.brand}}">
                        <li class="list-group-item">{{this.brand}}</li>
                    </a>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col-12 col-sm-9  scroll">

            <div class="row">
                <div class="rhs_product_tab rhs_match_height">
                    {{#each product}}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3 mb-2">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                <a href="/product/{{this._id}}">
                                    <img src="/productImages/{{this._id}}a.jpg" alt="">
                                </a>
                                <div class="product-action">
                                    <a class="animate-left" href="" onclick="addToWishlist('{{this._id}}',event)"
                                        title="Wishlist">
                                        <i class="ion-ios-heart-outline"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a href="#">{{this.name}}</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>{{this.category}}</span>
                                    </div>
                                    <div class="product-price">
                                        {{#if this.offer}}
                                        <div class="product-price">
                                            <span class="price--sale"><span class=money>₹
                                                    {{this.price}}</span></span>
                                            <span><del><span class=money>₹
                                                        {{this.actualPrice}}</span></del></span>

                                        </div>
                                        {{else}}
                                        <div class="product-price">
                                            <span class="price--sale"><span class=money>₹
                                                    {{this.price}}</span></span>
                                        </div>
                                        {{/if}}
                                    </div>
                                    <div class="product-categori">
                                        {{#if this.stockout}}
                                        <span class="text-danger">Out of stock</span>
                                        {{else}}
                                        <button class="add_cart btn btn-light cart-item "
                                            style="width: 130px; border: 1px solid black !important;"
                                            onclick="addToCart('{{this._id}}','{{this.stock}}')" title="Add to cart">
                                            <i class="ion-bag"></i>
                                            <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                            <i class="ion-android-done"></i> Add to Cart
                                        </button>
                                        <br>
                                        <a class="add_cart btn btn-light cart-item mt-1" href="/buyNow/{{this._id}}"
                                            style="width: 130px; border: 1px solid black !important;">
                                            <i class="ion-bag"></i>
                                            <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                            <i class="ion-android-done"></i> Buy Now
                                        </a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</div>