<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left">
                        <h3 class="breadcrumb-title">CHECKOUT</h3>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-12">
                        <!-- breadcrumb-list start -->
                        {{!-- <ul class="breadcrumb-list text-center text-md-right row ml-auto">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Checkout</li>
                        </ul> --}}
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb-area end -->

<!-- checkout area start -->
<div class="checkout-area pt-3 pb-5">
    <div class="container">
        <h3>Address</h3>
        <div class="row">

            {{#each address}}
            <div class="col-md-3 mt-5 alert border-warning mr-2 card" style="cursor: pointer;">

                <div class="col-md-12" onclick="">

                    <h6 class="">{{this.FirstName}} {{this.LastName}}</h6>
                    <p class="">{{this.House}},{{this.Town}} - {{this.PIN}}<br>Ph : {{this.Mobile}}</p>
                    <div class="ml-auto">
                        <button class="btn btn-warning " style="width: fit-content;"
                            onclick="autoFill('{{this.FirstName}}','{{this.LastName}}','{{this.House}}','{{this.Street}}','{{this.Town}}','{{this.PIN}}','{{this.Mobile}}','{{this.Email}}')">
                            Choose
                        </button>
                    </div>

                </div>


            </div>
            {{/each}}
            <div class="col-md-2 pt-5">
                <a href="/addNewAddress" class="btn btn-warning "
                    style="text-decoration: none;width:100%;margin-top:30px;">Add New Address</a>
            </div>
        </div>
        <div class="row">

            <div class="billing-info-wrap mt-3">
                <h3>Billing Details</h3>
                <form action="" id="checkout-form" class="mt-3" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class=" form-group billing-info mb-4 col-md-6">
                                    <label for="fname">First Name</label>
                                    <input type="text" id="fname" name="FirstName" minlength="4" required />
                                </div>

                                <div class="form-group billing-info mb-4 col-md-6">
                                    <label for="lname">Last Name</label>
                                    <input type="text" id="lname" name="LastName" required />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group billing-info mb-4 col-md-12">
                                    <label for="house">House Name</label>
                                    <input type="text" id="house" name="House" minlength="4" required />
                                </div>
                            </div>

                            <div class="form-row ">
                                <div class="form-group billing-info mb-4 col-md-12">
                                    <label for="street">Street Address</label>
                                    <input class="billing-address" placeholder="street name" id="street" name="Street"
                                        type="text" required minlength="4" />

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group billing-info mb-4 col-md-6">
                                    <label for="city">Town / City</label>
                                    <input type="text" id="city" name="Town" required minlength="4" />
                                </div>



                                <div class="form-group billing-info mb-4 col-md-6">
                                    <label for="pin">Postcode / ZIP</label>
                                    <input type="number" id="pin" name="PIN" maxlength="6"
                                        onkeydown="return event.keyCode !== 69" required pattern=".{6,6}" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group billing-info mb-4 col-md-6">
                                    <label for="phone">Phone</label>
                                    <input type="text" id="phone" name="Mobile" required pattern=".{10,10}" />
                                </div>



                                <div class="form-group billing-info mb-4 col-md-6">
                                    <label for="email">Email Address</label>
                                    <input type="text" required id="email" name="Email" />
                                </div>
                                <input type="text" name="User" value="{{user._id}}" hidden>
                            </div>

                        </div>
                        <div class="col-md-6 ">
                            <div class="container">
                                <div class="col-lg-12 mt-md-30px mt-lm-30px ">
                                    <div class="your-order-area">
                                        <h3>Your order</h3>
                                        <div class="your-order-wrap gray-bg-4 pl-4 pr-4 pb-4" style="border: 1px solid black;">
                                            <div class="your-order-product-info">
                                                <div class="your-order-top">
                                                    <ul>
                                                        <li>
                                                            <h4 class="p-3">Cart Items</h4>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="your-order-middle">
                                                    <table class="table borderless">

                                                        {{#each products}}
                                                        <tr>
                                                            
                                                            <td>
                                                                <ol>
                                                                    <li><span
                                                                            class="order-middle-left">{{this.product.name}}
                                                                            <strong>X</strong>
                                                                            {{this.quantity}}</span> <br>
                                                                        <span class="order-price">Rs.{{this.subtotal}}
                                                                        </span>
                                                                    </li>
                                                                </ol>
                                                            </td>
                                                            {{!-- <td>
                                                                <button
                                                                    onclick="deleteCartPro('{{this._id}}','{{this.product._id}}')">
                                                                    <i class="fas fa-trash-alt mt-4 "
                                                                        style="color: red;font-size: 20px;"></i>
                                                                </button>
                                                            </td> --}}
                                                        </tr>
                                                        {{/each}}


                                                    </table>
                                                    <style>
                                                        .borderless td,
                                                        .borderless th {
                                                            border: none;
                                                        }
                                                    </style>

                                                </div>
                                                <div class="your-order-bottom">
                                                    <div class="discount-code">
                                                        <p>Enter your coupon code if you have one.</p>
                                                        <input type="text" class="form-control" name="Coupon"
                                                            id="couponInput" />
                                                        <input type="text" id="couponTotal" name="Total"
                                                            value="{{total}}" hidden>
                                                        <a id="couponBtn" onclick="couponApply()"
                                                            class="btn bg-success text-white text-center  mt-2"
                                                            style="width: 100%;text-decoration: none;">Apply Coupon</a>
                                                        <p class="text-center text-danger" style="display: none;"
                                                            id="couponUsed">This Coupon has
                                                            been Used</p>
                                                        <p class="text-center text-danger" style="display: none;"
                                                            id="couponInvalid">This Coupon is
                                                            invalid</p>
                                                        <p class="text-center text-success" style="display: none;"
                                                            id="couponSuccess">Coupon Applied
                                                            Successfully</p>
                                                        <p class="text-center text-warning" style="display: none;"
                                                            id="couponExpired">Sorry!!! Your
                                                            Coupon has been Expired</p>
                                                    </div>
                                                </div>

                                                <div class="your-order-total">
                                                    <ul class="pt-4">
                                                        <li class="order-total">Total</li>
                                                        <li>Rs.<span id="totalOriginal">{{total}}</span></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="order-middle-left" id="discountLabel"
                                                            style="display: none;">Coupon Applied</li>
                                                        <li class="order-price"><input type="text" name="Discount"
                                                                style="display: none;" readonly id="discount"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="payment-method">
                                                <div class="payment-accordion element-mrg">
                                                    <div id="faq" class="panel-group">
                                                        <h4>Payment methods</h4>
                                                        <input type="radio" name="Payment" value="COD"
                                                            style="width:5%;height:auto" checked>Cash on Delivery<br>
                                                        <input type="radio" name="Payment" value="Online"
                                                            style="width:5%;height:auto">Online Payment<br>
                                                        <input type="radio" name="Payment" value="Paypal"
                                                            style="width:5%;height:auto">Paypal
                                                        <div id="paypal-payment-button"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Place-order mt-25">
                                            <button class="btn btn-primary btn-hover" id="submit" type="submit"
                                                style="width: 100%;" href="#">Place Order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 pt-3">

            </div>

        </div>

    </div>

</div>
</div>
</div>





<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function autoFill(fname, lname, house, street, town, pin, mobile, email) {
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Form auto filled',
            showConfirmButton: false,
            timer: 1500
        })
        document.getElementById('fname').value = fname
        document.getElementById('lname').value = lname
        document.getElementById('house').value = house
        document.getElementById('street').value = street
        document.getElementById('city').value = town
        document.getElementById('pin').value = pin
        document.getElementById('phone').value = mobile
        document.getElementById('email').value = email
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>


<script>
    $('#checkout-form').submit((e) => {
        e.preventDefault()
        {
            {
                !--$('#checkout-form').validate({
                    rules: {
                        FirstName: {
                            required: true,
                            minlength: 4,
                            maxlength: 20

                        },
                        LastName: {
                            required: true,
                            minlength: 4,
                            maxlength: 15

                        },
                        House: {
                            required: true,

                            minlength: 10,
                            maxlength: 100,
                        },
                        Street: {
                            required: true,
                            minlength: 4
                        },
                        Town: {
                            required: true,
                            minlength: 4
                        },
                        PIN: {
                            required: true,
                            number: true,
                            minlength: 6,
                            maxlength: 6
                        },
                        Mobile: {
                            required: true,
                            minlength: 10,
                            maxlength: 10,
                            number: true
                        }
                Email: {
                            required: true,
                            email: true
                        },
                    },
                    submitHandler: function submit(form) {
                        console.log(form)

                    }
                }) --}
        }
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.status) {
                    console.log()

                    location.href = "/order-success"
                } else {
                    alert("Some error")
                    location.reload()
                }


            }
        })


    })
</script>