<main role="main">
    <!-- BEGIN Slider -->
    <div id="shopify-section-1514880862152" class="shopify-section">
        <div class="slider-area">
            <div class="slider-active owl-carousel">
                {{#each banners}}
                <div class="single-slider single-slider-hm1 bg-img"
                    style="background-image: url(banners/{{this._id}}.jpg)">
                    <div class="container">
                        <div class="slider-content slider-content-style-1 slider-animated-1">

                            <p class="animated" style="color: #ffffff;">{{this.offer}}
                                <span></span>
                            </p>
                            <h2 class="animated" style="color: #ffffff;">{{this.bannerName}}</h2>

                            <div>
                                <p class="animated" style="color: #ffffff;">{{this.description}}</p>
                            </div>
                            <a class="btn-hover slider-btn-style animated" href="{{this.link}}">Shop Now</a>

                        </div>
                    </div>
                </div>
                {{/each}}


                {{!-- <div class="single-slider single-slider-hm1 bg-img"
                    style="background-image: url(images/watchImages/Banner1.jpg)">
                    <div class="container">
                        <div class="slider-content slider-content-style-1 slider-animated-1">

                            <p class="animated" style="color: #ffffff;">Exclusive Offer - 30% Off This Week
                                <span></span>
                            </p>
                            <h2 class="animated" style="color: #ffffff;">Laurrent Ferrier</h2>

                            <div>
                                <p class="animated" style="color: #ffffff;">Maison LAURENT FERRIER celebrates its 10th
                                    anniversary with the release of a classical watch featuring a timeless dial and case
                                    ensemble.</p>
                            </div>
                            <a class="btn-hover slider-btn-style animated" href="#">Shop Now</a>

                        </div>
                    </div>
                </div> --}}

                {{!-- <div class="single-slider single-slider-hm1 bg-img"
                    style="background-image: url(images/watchImages/Banner2.jpg)">
                    <div class="container">
                        <div class="slider-content slider-content-style-1 slider-animated-1">

                            <p class="animated" style="color: #ffffff;">Exclusive Offer - 10% Off This Week
                                <span></span>
                            </p>

                            <h2 class="animated" style="color: #ffffff;">Breguet Watches</h2>
                            <div>
                                <p class="animated" style="color: #ffffff;">U-Boat watches are a lot like classic
                                    American Muscle
                                    cars – expect for the American part that is.</p>
                            </div>

                            <a class="btn-hover slider-btn-style animated" href="#">Shop Now</a>

                        </div>
                    </div>
                </div> --}}
                {{!-- <div class="single-slider single-slider-hm1 bg-img"
                    style="background-image: url(images/watchImages/BannerFossil.jpg)">
                    <div class="container">
                        <div class="slider-content slider-content-style-1 slider-animated-1">

                            <p class="animated" style="color: #ffffff;">Exclusive Offer - 30% Off This Week
                                <span></span>
                            </p>



                            <h2 class="animated" style="color: #ffffff;">Laurrent Ferrier</h2>



                            <div>
                                <p class="animated" style="color: #ffffff;">Maison LAURENT FERRIER celebrates its 10th
                                    anniversary with the release of a classical watch featuring a timeless dial and case
                                    ensemble.</p>
                            </div>



                            <a class="btn-hover slider-btn-style animated" href="collections/all.html">Shop Now</a>

                        </div>
                    </div>
                </div> --}}

            </div>
        </div>


        <style>
            .slider-btn-style {
                border: 2px solid #ffffff;
                color: #ffffff;
            }

            .slider-content-style-1>h3 span {
                color: #a8741a;
            }

            .slider-btn-style:hover {
                border: 2px solid #a8741a;
                color: #ffffff;
            }
        </style>


    </div>

    {{!-- Product Section --}}

    <div id="shopify-section-1515045233374" class="shopify-section">
        <div class="product-area neha_prod_area">
            <div class="container">
                <div class="product-style">
                    <div class="product-tab-list mb-45 nav product-menu-mrg" role="tablist">

                        <a class="active" href="#featured" data-toggle="tab" role="tab">
                            <h4>Featured </h4>
                        </a>

                        <a class="" href="#featured" data-toggle="tab" role="tab">
                            <h4>Best Sale </h4>
                        </a>


                        <a class="" href="#featured" data-toggle="tab" role="tab">
                            <h4>On Sale </h4>
                        </a>


                        <a class="" href="#featured" data-toggle="tab" role="tab">
                            <h4>New Arrival </h4>
                        </a>

                    </div>

                    {{!-- Categories --}}

                    <div class="tab-content jump">

                        <div class="row">
                            <div class="rhs_product_tab rhs_match_height">

                                {{#each products}}
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4 ">


                                    <div class="single-product mb-35">
                                        <div class="product-img">
                                            <a href="/product/{{this._id}}">
                                                <img src="/productImages/{{this._id}}a.jpg" alt="">
                                            </a>



                                            <div class="product-action">

                                                <a class="animate-left" href="" onclick="addToWishlist('{{this._id}}')"
                                                    title="Wishlist">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </a>

                                                {{!-- <a title="Quick View" data-toggle="modal"
                                                    data-target="#exampleModal" class="animate-right"
                                                    href="javascript:void(0);"
                                                    onclick="quiqview('predefinidos-cuando')"><i
                                                        class="ion-ios-eye-outline"></i></a> --}}
                                            </div>
                                        </div>

                                        <div class="product-content">
                                            <div class="product-title-price">
                                                <div class="product-title">
                                                    <h4><a href="#">{{this.name}}</a>
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="product-cart-categori">

                                                <div class="product-cart">
                                                    <span>{{this.category}}</span>
                                                </div>




                                                <div class="product-price">

                                                    <span><del><span class=money>₹{{this.price}}</span></del></span>

                                                    <span class="price--sale"><span
                                                            class=money>₹{{this.cost}}</span></span>
                                                </div>


                                                <div class="product-categori ">

                                                    {{#if this.stockout}}
                                                    <span class="text-danger">Out of stock</span>
                                                    {{else}}
                                                    <button class="add_cart btn btn-light cart-item "
                                                        style="width: 130px; border: 1px solid black !important;"
                                                        onclick="addToCart('{{this._id}}','{{this.stock}}')" title="Add to cart">

                                                        <i class="ion-bag"></i>
                                                        <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                                        <i class="ion-android-done"></i> Add to Cart
                                                    </button>
                                                    <br>
                                                    <a class="add_cart btn btn-light cart-item mt-1"
                                                        href="/buyNow/{{this._id}}"
                                                        style="width: 130px; border: 1px solid black !important;">

                                                        <i class="ion-bag"></i>
                                                        <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                                        <i class="ion-android-done"></i> Buy Now
                                                    </a>
                                                    {{/if}}

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>



                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>





    <style>
        .product-area.neha_prod_area {
            padding-top: 95px;
            padding-bottom: 60px;
            background-color: #fff;
        }
    </style>


    </div>
    <div id="shopify-section-1516765776550" class="shopify-section">
        <div class="shop-limited-area bg-img neha_shp_lma"
            style="background-image: url(images/watchImages/watch_storeb986.png?v=1531548696)" data-overlay="3">
            <div class="container">
                <div class="shop-limited-content text-center">

                    <span style="color: #fff; font-size: 16px;">Sale Off 20% All Products</span>



                    <h2 class="mb-40" style="color: #fff; font-size: 58px;">New Trending Collection</h2>



                    <p style="color: #fff; font-size: 16px;">We Believe That Good Design Is Always In Season</p>



                    <a class="btn-hover limited-btn mt-50" href="/products">SHOP NOW</a>

                </div>
            </div>
        </div>





        <style>
            .shop-limited-area.bg-img.neha_shp_lma {
                margin-top: 0px;
                padding-top: 88px;
                padding-bottom: 100px;


            }

            .limited-btn {
                background-color: #f4f4f4;
                color: #353535;
                font-size: 14px;
            }

            .limited-btn:hover {
                color: #fff;
            }

            .btn-hover::before {
                background: #a8741a none repeat scroll 0 0;
            }
        </style>


    </div>
    <div id="shopify-section-1515049125358" class="shopify-section">
        <div class="product-collection-area neha_pcak">
            <div class="container">

                <div class="section-title mb-55 text-center">

                    <h2>SELECT YOUR WATCH</h2>



                    <p>WATCHIN the world largest and old watch store, we can serve you<br>most special and signature
                        wine any
                        time any where in India</p>

                </div>



                <div class="row">
                    <div class="rhs_product_tab rhs_match_height">

                        {{#each products}}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-4">


                            <div class="single-product mb-35">
                                <div class="product-img">
                                    <a href="/product/{{this._id}}">
                                        <img src="/productImages/{{this._id}}a.jpg" alt="">
                                    </a>



                                    <div class="product-action">

                                        <a class="animate-left" href="" onclick="addToWishlist('{{this._id}}')"
                                            title="Wishlist">
                                            <i class="ion-ios-heart-outline"></i>
                                        </a>


                                    </div>
                                </div>

                                <div class="product-content">
                                    <div class="product-title-price">
                                        <div class="product-title">
                                            <h4><a href="">{{this.name}}</a></h4>
                                        </div>
                                    </div>

                                    <div class="product-cart-categori">

                                        <div class="product-cart">
                                            <span>{{this.category}}</span>
                                        </div>




                                        <div class="product-price">

                                            <span class="price--sale"><span class=money>₹ {{this.cost}}</span></span>
                                            <span><del><span class=money>₹ {{this.price}}</span></del></span>

                                        </div>


                                        <div class="product-categori">

                                            {{#if this.stockout}}
                                            <span class="text-danger">Out of stock</span>
                                            {{else}}
                                            <button class="add_cart btn btn-light cart-item "
                                                style="width: 130px; border: 1px solid black !important;"
                                                onclick="addToCart('{{this._id}}','{{this.stock}}')" title="Add to cart">

                                                <i class="ion-bag"></i>
                                                <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                                <i class="ion-android-done"></i> Add to Cart
                                            </button>
                                            <br>
                                            <a class="add_cart btn btn-light cart-item mt-1" href="/buyNow/{{this._id}}"
                                                style="width: 130px; border: 1px solid black !important;">

                                                <i class="ion-bag"></i>
                                                <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                                <i class="ion-android-done"></i> Buy Now
                                            </a>
                                            {{/if}}

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </div>



                </div>
            </div>
        </div>




        <style>
            .product-collection-area.neha_pcak {
                padding-top: 90px;
                padding-bottom: 0px;
                background-color: rgba(0, 0, 0, 0);
            }
        </style>


    </div>
    <div id="shopify-section-1515486477161" class="shopify-section">
        <div class="shop-limited-area bg-img" style="background-image: url(images/watchImages/c15afb.png)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 ml-auto">
                        <div class="coundown-auto text-center shop-limited-content">

                            <span style="color: #fff; font-size: 24px;">HURRY UP!</span>



                            <h2 class="mb-10" style="color: #fff; font-size: 50px;">Hot Deal! Sale 20% Off</h2>



                            <p style="color: #fff; font-size: 16px;">WATCHIN the most latgest watch store in the wold
                                can serve
                                you latest<br> qulity of motorcycle also you can sell here your motorcycle it quo to</p>



                            <div class="timer">
                                <div data-countdown="2021/11/31"></div>
                            </div>



                            <a class="mt-20" href="/products">SHOP NOW</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>




        <style>
            .shop-limited-area.bg-img {
                margin-top: 60px;
                padding-top: 90px;
                padding-bottom: 105px;
                background-color: #fff;
            }

            .timer span,
            .timer span p {
                color: #fff;
            }

            .coundown-auto>a {
                background-color: #f4f4f4;
                color: #353535;
                display: inline-block;
            }

            .coundown-auto>a:hover {
                color: #fff;
                background: #a8741a none repeat scroll 0 0;
            }
        </style>


    </div>

    <div id="shopify-section-1515479967873" class="shopify-section">
        <div class="brand-logo neha_brand">
            <div class="container p-0">
                <div class="brand-logo-active owl-carousel">

                    {{#each brand}}

                    <div class="single-logo">

                        <img src="/brandLogos/{{this._id}}.jpg" style="width: 150px;height: 150px;" alt="">

                    </div>
                    {{/each}}



                </div>


            </div>
        </div>



        <style>
            .brand-logo.neha_brand {
                padding-top: 60px;
                padding-bottom: 40px;
                background-color: rgba(0, 0, 0, 0);
            }
        </style>


    </div><!-- END content_for_index -->
</main>