{{!--
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                <a href="/cart" class="list-group-item list-group-item-action">Cart</a>
                <a href="/myOrders" class="list-group-item list-group-item-action">My Orders</a>
                <a href="/addNewAddress" class="list-group-item list-group-item-action">Add New address</a>


            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>My Profile</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="/edit-profile">

                                <div class="form-group row">
                                    <label for="name" class="col-4 col-form-label">First Name</label>
                                    <div class="col-8">
                                        <input id="name" name="firstname" value="{{user.firstname}}"
                                            placeholder="First Name" class="form-control here" type="text" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                    <div class="col-8">
                                        <input id="lastname" name="lastname" value="{{user.lastname}}"
                                            placeholder="Last Name" class="form-control here" type="text" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Mobile</label>
                                    <div class="col-8">
                                        <input id="mobile" name="mobile" value="{{user.mobileNo}}" placeholder="Mobile"
                                            class="form-control here" required="required" type="text" disabled>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email</label>
                                    <div class="col-8">
                                        <input id="email" name="email" value="{{user.email}}" placeholder="Email"
                                            class="form-control here" required="required" type="text" disabled>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <a onclick="editProfile('{{user._id}}')"
                                            style="text-decoration: none; color: white;" type="" id="submit"
                                            class="btn btn-primary">Edit
                                            Profile</a>
                                        <button type="submit" class="btn btn-primary" id="btn"
                                            style="display: none;">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <h3>Address</h3>
                    <div class="row">

                        {{#each address}}
                        <div class="col-md-3 mt-5 alert border-warning mr-2 card" style="cursor: pointer;">

                            <div class="col-md-12" onclick="">

                                <h6 class="">{{this.FirstName}} {{this.LastName}}</h6>
                                <p class="">{{this.House}},{{this.Town}} - {{this.PIN}}<br>Ph : {{this.Mobile}}</p>
                                <div class="ml-auto">
                                    <button class="btn btn-primary" style="width: fit-content;"
                                        onclick="autoFill('{{this.FirstName}}','{{this.LastName}}','{{this.House}}','{{this.Street}}','{{this.Town}}','{{this.PIN}}','{{this.Mobile}}','{{this.Email}}')">
                                        Auto fill
                                    </button>
                                </div>

                            </div>


                        </div>
                        {{/each}}
                        <div class="col-md-2 pt-5">
                            <a href="/addNewAddress" class="btn btn-warning "
                                style="text-decoration: none;width:100%;margin-top:30px;">Add New Address</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function editProfile(userId) {

        document.getElementById('name').disabled = false
        document.getElementById('lastname').disabled = false
        document.getElementById('mobile').disabled = false
        document.getElementById('email').disabled = false
        document.getElementById('submit').style.display = "none"
        document.getElementById('btn').style.display = "block"



    }
</script>