<style>
    .actived {
        background:#a8741a ;
        color: white;
    }
    .actived:hover{
        background: #a8741a;
        color: white;
    }
    .kms{
        background: #a8741a;
    }
    .kms:hover{
        background: #a8741a;
    }
</style>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action actived">PROFILE</a>
                <a href="/myOrders" class="list-group-item list-group-item-action">My Orders</a>
                {{!-- <a href="/addNewAddressProfile" class="list-group-item list-group-item-action">Add New address</a>
                --}}
                <a href="/change-password" class="list-group-item list-group-item-action">Change Password</a>


            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>My Profile</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="/edit-profile">

                                <div class="form-group row">
                                    <label for="name" class="col-4 col-form-label">First Name</label>
                                    <div class="col-8">
                                        <input id="name" name="firstname" value="{{user.firstname}}"
                                            placeholder="First Name" class="form-control here" type="text" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                    <div class="col-8">
                                        <input id="lastname" name="lastname" value="{{user.lastname}}"
                                            placeholder="Last Name" class="form-control here" type="text" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Mobile</label>
                                    <div class="col-8">
                                        <input id="mobile" name="mobile" value="{{user.mobileNo}}" placeholder="Mobile"
                                            class="form-control here" required="required" type="text" disabled>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email</label>
                                    <div class="col-8">
                                        <input id="email" name="email" value="{{user.email}}" placeholder="Email"
                                            class="form-control here" required="required" type="text" disabled>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <a onclick="editProfile('{{user._id}}')"
                                            style="text-decoration: none; color: white;" type="" id="submit"
                                            class="btn  kms">Edit
                                            Profile</a>
                                        <button type="submit" class="btn  kms" id="btn"
                                            style="display: none;">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <h3>Address</h3>
                    <div class="col-md-2 mt-auto ">
                        <button href="" class="btn kms " data-toggle="modal" data-target="#exampleModalAdd"
                            data-whatever="@mdo" style="text-decoration: none;width:fit-content;margin-top:30px;">Add
                            New</a>
                    </div>
                    <div class="row">

                        {{#each address}}
                        <div class="col-md-3 mt-5 alert border-warning mr-2 card" style="cursor: pointer;">

                            <div class="col-md-12 d-flex flex-column" style="height: fit-content;">

                                <h6 class="">{{this.FirstName}} {{this.LastName}}</h6>
                                <p class="">{{this.House}},{{this.Town}} - {{this.PIN}}<br>Ph : {{this.Mobile}}</p>
                                <div class=" mt-auto ">
                                    <a class="btn  kms mt-auto " href="/edit-address/{{this._id}}"
                                        style="width: fit-content;">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger mt-auto" href="/delete-address/{{this._id}}"
                                        style="width: fit-content; color: white;">
                                        Delete
                                    </a>
                                </div>

                            </div>


                        </div>
                        {{/each}}




                        <div class="modal fade" id="exampleModalAdd" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="mb-3 mt-3">Add new Address</h3>
                                        {{!-- <button type="button" class="close ml-auto" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button> --}}
                                    </div>
                                    <div class="modal-body">
                                        <div class="billing-info-wrap">

                                            <form action="/addNewAddressProfile" id="checkout-form" method="POST">
                                                <div class="row bg-light">
                                                    <div class="col-md-12">
                                                        <div class="form-row">
                                                            <div class=" form-group billing-info mb-4 col-md-6">
                                                                <label for="fname">First Name</label>
                                                                <input type="text" id="fname" name="FirstName"
                                                                    minlength="4" required />
                                                            </div>

                                                            <div class="form-group billing-info mb-4 col-md-6">
                                                                <label for="lname">Last Name</label>
                                                                <input type="text" id="lname" name="LastName"
                                                                    required />
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group billing-info mb-4 col-md-12">
                                                                <label for="house">House Name</label>
                                                                <input type="text" id="house" name="House" required
                                                                    minlength="4" />
                                                            </div>
                                                        </div>

                                                        <div class="form-row ">
                                                            <div class="form-group billing-info mb-4 col-md-12">
                                                                <label for="street">Street Address</label>
                                                                <input class="billing-address" placeholder="street name"
                                                                    id="street" name="Street" type="text" minlength="4"
                                                                    required />

                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group billing-info mb-4 col-md-6">
                                                                <label for="city">Town / City</label>
                                                                <input type="text" id="city" name="Town" minlength="4"
                                                                    required />
                                                            </div>



                                                            <div class="form-group billing-info mb-4 col-md-6">
                                                                <label for="pin">Postcode / ZIP</label>
                                                                <input type="text" id="pin" name="PIN" pattern=".{6,6}"
                                                                    required />
                                                            </div>
                                                        </div>
                                                        <div class="form-row">
                                                            <div class="form-group billing-info mb-4 col-md-6">
                                                                <label for="phone">Phone</label>
                                                                <input type="text" id="phone" name="Mobile"
                                                                    pattern=".{10,10}" required />
                                                            </div>



                                                            <div class="form-group billing-info mb-4 col-md-6">
                                                                <label for="email">Email Address</label>
                                                                <input type="email" required id="email" name="Email" />
                                                            </div>
                                                            <input type="text" name="User" value="{{user._id}}" hidden>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class=" text-center pt-3">
                                                    <input type="submit" class="btn btn-primary "
                                                        value="Add New Address">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    {{!-- <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Send message</button>
                                    </div> --}}
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function editProfile(userId) {

        document.getElementById('name').disabled = false
        document.getElementById('lastname').disabled = false
        document.getElementById('mobile').disabled = false
        document.getElementById('email').disabled = false
        document.getElementById('submit').style.display = "none"
        document.getElementById('btn').style.display = "block"



    }
</script>