<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

<style>
    .glass {
        width: 235px;
        height: 235px;
        position: absolute;
        border-radius: 50%;
        cursor: crosshair;

        /* Multiple box shadows to achieve the glass effect */
        box-shadow:
            0 0 0 7px rgba(255, 255, 255, 0.85),
            0 0 7px 7px rgba(0, 0, 0, 0.25),
            inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

        /* hide the glass by default */
        display: none;
    }




    .carousel-inner img {
        width: 100%;
        height: 100%
    }

    #custCarousel .carousel-indicators {
        position: static;
        margin-top: 20px
    }

    #custCarousel .carousel-indicators>li {
        width: 100px
    }

    #custCarousel .carousel-indicators li img {
        display: block;
        opacity: 0.5
    }

    #custCarousel .carousel-indicators li.active img {
        opacity: 1
    }

    #custCarousel .carousel-indicators li:hover img {
        opacity: 0.75
    }

    .carousel-item img {
        width: 80%
    }
</style>
<div class="breadcrumb-area ptb-170"
    style="background-size: cover;background-image: url(/images/watchImages/Banner1.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">

            <ul class="breadcrumb-list mr-5">

                <li>
                    <a href="/" title="Back to the home page">Home</a>
                </li>
                <li>




                    <span>{{product.name}}</span>


                </li>
            </ul>


        </div>
    </div>
</div>




<div class="product-details neha_pr_dt">
    <div class="container p-0">
        <div class="row">

            <div class="col-md-6">
                <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                    <!-- slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active"> <img src="/productImages/{{product._id}}a.jpg"
                                class="d-block  magniflier" alt="Hills">
                        </div>
                        <div class="carousel-item"> <img src="/productImages/{{product._id}}b.jpg"
                                class="d-block  magniflier" alt="Hills"> </div>
                        <div class="carousel-item"> <img src="/productImages/{{product._id}}c.jpg"
                                class="d-block  magniflier" alt="Hills"> </div>
                        <div class="carousel-item"> <img src="/productImages/{{product._id}}d.jpg"
                                class="d-block  magniflier" alt="Hills"> </div>
                    </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next"
                        href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span>
                    </a>
                    <!-- Thumbnails -->
                    <ol class="carousel-indicators list-inline">
                        <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected"
                                data-slide-to="0" data-target="#custCarousel"> <img
                                    src="/productImages/{{product._id}}a.jpg" class=" img-fluid">
                            </a> </li>
                        <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1"
                                data-target="#custCarousel"> <img src="/productImages/{{product._id}}b.jpg"
                                    class="img-fluid">
                            </a> </li>
                        <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2"
                                data-target="#custCarousel"> <img src="/productImages/{{product._id}}c.jpg"
                                    class="img-fluid">
                            </a> </li>
                        <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3"
                                data-target="#custCarousel"> <img src="/productImages/{{product._id}}d.jpg"
                                    class="img-fluid">
                            </a> </li>
                    </ol>
                </div>
            </div>


            <div class="col-md-6 mt-5 col-lg-5 col-12">
                <div class="product-details-content ">
                    <div class="inner-wrapper-sticky">
                        <h3>{{product.name}}</h3>

                        <div class="rating-number">
                            <div class="quick-view-rating">
                                <span class="shopify-product-reviews-badge" data-id="1310201413721"></span>
                            </div>
                        </div>


                        <div class="details-price">
                            <span id="ProductPrice"><span class=money>₹{{product.cost}}</span></span>

                            <del><span id="ComparePrice"><span class=money>₹{{product.price}}</span></span></del>

                        </div>
                        <div>

                            {{#if product.proOffer}}
                            <div>
                                <strong><span class="sale mb-3">{{product.proPercentage}}% OFF</strong> for this
                                Product</span>
                            </div>
                            {{/if}}
                        </div>





                        <p>A watch is a portable timepiece intended to be carried or worn by a person. ... During most
                            of its history the watch was a mechanical device, driven by clockwork, powered by winding a
                            mainspring, and keeping time with an oscillating balance wheel. These are called mechanical
                            watches.</p>






                        <form action="" method="post" enctype="multipart/form-data" id="add-item-form">










                            <div class="quickview-plus-minus">
                                {{!-- <div class="cart-plus-minus">
                                    <input type="text" value="01" name="quantity" class="cart-plus-minus-box">
                                </div> --}}

                                {{!-- <div class="" style="font-size: 24px; ">
                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                                </div>
                                <div class=" quantity" style="font-size: 18px;">
                                    <span id="{{this.product._id}}" class=""> {{this.quantity}}0</span>
                                </div>
                                <div class=" quantity" style="font-size: 18px;">
                                    <button class=""
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                                </div> --}}

                                <div class="quickview-btn-cart">

                                    {{#if product.stockout}}
                                    <p class="text-danger text-center">Out of Stock</p>
                                    {{else}}
                                    <a class="btn-hover-black addtocart cart-item"
                                        onclick="addToCart('{{product._id}}')" data-toggle="tooltip"
                                        title="add to cart">
                                        <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                        <i class="ion-android-done"></i> add to cart
                                    </a>
                                    <a class="btn-hover-black addtocart cart-item" href="/buyNow/{{product._id}}"
                                        data-toggle="tooltip" title="add to cart">
                                        <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                        <i class="ion-android-done"></i>Buy Now
                                    </a>
                                    {{/if}}




                                </div>


                                <div class="quickview-btn-wishlist">


                                    <a class="btn-hover list-btn-wishlist animate-left" href=""
                                        onclick="addToWishlist('{{this._id}}')" title="Wishlist">
                                        <i class="ion-ios-heart-outline"></i>
                                    </a>


                                </div>

                            </div>
                        </form>


                        <div class="product-categories product-cat-tag">

                            <ul>
                                <li class="categories-title">Category :</li>
                                <li><a href="">{{product.category}}</a></li> <br>
                                <li><a href="">100% Original Products</a></li> <br>
                                <li><a href="">Cash on delivery might be available</a></li>
                            </ul>
                        </div>




                        <div class="product-tags product-cat-tag">
                            <ul>

                                <li class="categories-title text-dark">Product details:</li> <br>
                                <li><a href="">Pack Contains: single watch</a></li> <br>
                                <li><a href="">Movement: quartz</a></li> <br>
                                <li><a href="">Power Source: battery</a></li> <br>
                                <li><a href="">Water resistance: 100 m</a></li> <br>
                                <li><a href="">Comes in a signature {{product.brand}} case</a></li> <br>
                                <li><a href="">Warranty: 2 years</a></li> <br>
                                <li><a href="">Warranty provided by Brand Owner / Manufacturer</a></li> <br>



                            </ul>
                        </div>






                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .product-details.neha_pr_dt {
        padding-top: 100px;
        padding-bottom: 90px;
        margin-bottom: 0px;
    }
</style>









<div class="mt-3 mb-5">
    <center>
        <h3>
            <strong>RELATED PRODUCTS</strong>
        </h3>
    </center>
</div>
<div class="container tab-content jump mb-4">
    <div class="row">
        <div class="rhs_product_tab rhs_match_height">

            {{#each realtedProducts}}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">


                <div class="single-product mb-35">
                    <div class="product-img">
                        <a href="/product/{{this._id}}">
                            <img src="/productImages/{{this._id}}a.jpg" alt="">
                        </a>



                        <div class="product-action">

                            <a class="animate-left" href="" onclick="addToWishlist('{{this._id}}')" title="Wishlist">
                                <i class="ion-ios-heart-outline"></i>
                            </a>

                            {{!-- <a title="Quick View" data-toggle="modal" data-target="#exampleModal"
                                class="animate-right" href="javascript:void(0);"
                                onclick="quiqview('predefinidos-cuando')"><i class="ion-ios-eye-outline"></i></a> --}}
                        </div>
                    </div>

                    <div class="product-content">
                        <div class="product-title-price">
                            <div class="product-title">
                                <h4><a href="#">{{this.name}}</a>
                                </h4>
                            </div>
                        </div>

                        <div class="product-cart-categori">

                            <div class="product-cart">
                                <span>{{this.category}}</span>
                            </div>




                            <div class="product-price">

                                <span><del><span class=money>₹{{this.price}}</span></del></span>

                                <span class="price--sale"><span class=money>₹{{this.cost}}</span></span>
                            </div>


                            <div class="product-categori">

                                {{#if this.stockout}}
                                <span class="text-danger">Out of stock</span>
                                {{else}}
                                <button class="add_cart btn btn-light cart-item "
                                    style="width: 130px; border: 1px solid black !important;"
                                    onclick="addToCart('{{this._id}}')" title="Add to cart">

                                    <i class="ion-bag"></i>
                                    <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                    <i class="ion-android-done"></i> Add to Cart
                                </button>
                                <br>
                                <a class="add_cart btn btn-light cart-item mt-1" href="/buyNow/{{this._id}}"
                                    style="width: 130px; border: 1px solid black !important;">

                                    <i class="ion-bag"></i>
                                    <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                    <i class="ion-android-done"></i> Buy Now
                                </a>
                                {{/if}}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>



    </div>
</div>


<script>
    /**
* by MonsterDuang
*/
    ; (function ($) {
        /**
         * 1, 缩略图大小和父容器大小一致
         * 2, 父容器 href 属性为高清图片路径
         */
        $.fn.zoomImage = function (paras) {
            /**
             * 默认参数
             */
            var defaultParas = {
                layerW: 100, // 遮罩宽度
                layerH: 100, // 遮罩高度
                layerOpacity: 0.2, // 遮罩透明度
                layerBgc: '#000', // 遮罩背景颜色
                showPanelW: 500, // 显示放大区域宽
                showPanelH: 500, // 显示放大区域高
                marginL: 5, // 放大区域离缩略图右侧距离
                marginT: 0 // 放大区域离缩略图上侧距离
            };

            paras = $.extend({}, defaultParas, paras);

            $(this).each(function () {
                var self = $(this).css({ position: 'relative' });
                var selfOffset = self.offset();
                var imageW = self.width(); // 图片高度
                var imageH = self.height();

                self.find('img').css({
                    width: '100%',
                    height: '100%'
                });

                // 宽放大倍数
                var wTimes = paras.showPanelW / paras.layerW;
                // 高放大倍数
                var hTimes = paras.showPanelH / paras.layerH;

                // 放大图片
                var img = $('<img>').attr('src', self.attr("href")).css({
                    position: 'absolute',
                    left: '0',
                    top: '0',
                    width: imageW * wTimes,
                    height: imageH * hTimes
                }).attr('id', 'big-img');

                // 遮罩
                var layer = $('<div>').css({
                    display: 'none',
                    position: 'absolute',
                    left: '0',
                    top: '0',
                    backgroundColor: paras.layerBgc,
                    width: paras.layerW,
                    height: paras.layerH,
                    opacity: paras.layerOpacity,
                    border: '1px solid #ccc',
                    cursor: 'crosshair'
                });

                // 放大区域
                var showPanel = $('<div>').css({
                    display: 'none',
                    position: 'absolute',
                    overflow: 'hidden',
                    left: imageW + paras.marginL,
                    top: paras.marginT,
                    width: paras.showPanelW,
                    height: paras.showPanelH
                }).append(img);

                self.append(layer).append(showPanel);

                self.on('mousemove', function (e) {
                    // 鼠标相对于缩略图容器的坐标
                    var x = e.pageX - selfOffset.left;
                    var y = e.pageY - selfOffset.top;

                    if (x <= paras.layerW / 2) {
                        x = 0;
                    } else if (x >= imageW - paras.layerW / 2) {
                        x = imageW - paras.layerW;
                    } else {
                        x = x - paras.layerW / 2;
                    }

                    if (y < paras.layerH / 2) {
                        y = 0;
                    } else if (y >= imageH - paras.layerH / 2) {
                        y = imageH - paras.layerH;
                    } else {
                        y = y - paras.layerH / 2;
                    }

                    layer.css({
                        left: x,
                        top: y
                    });

                    img.css({
                        left: -x * wTimes,
                        top: -y * hTimes
                    });
                }).on('mouseenter', function () {
                    layer.show();
                    showPanel.show();
                }).on('mouseleave', function () {
                    layer.hide();
                    showPanel.hide();
                });
            });
        }
    })(jQuery);

</script>
<script>
    //Initialize product gallery

    $('.show').zoomImage();

    $('.show-small-img:first-of-type').css({ 'border': 'solid 1px #951b25', 'padding': '2px' })
    $('.show-small-img:first-of-type').attr('alt', 'now').siblings().removeAttr('alt')
    $('.show-small-img').click(function () {
        $('#show-img').attr('src', $(this).attr('src'))
        $('#big-img').attr('src', $(this).attr('src'))
        $(this).attr('alt', 'now').siblings().removeAttr('alt')
        $(this).css({ 'border': 'solid 1px #951b25', 'padding': '2px' }).siblings().css({ 'border': 'none', 'padding': '0' })
        if ($('#small-img-roll').children().length > 4) {
            if ($(this).index() >= 3 && $(this).index() < $('#small-img-roll').children().length - 1) {
                $('#small-img-roll').css('left', -($(this).index() - 2) * 76 + 'px')
            } else if ($(this).index() == $('#small-img-roll').children().length - 1) {
                $('#small-img-roll').css('left', -($('#small-img-roll').children().length - 4) * 76 + 'px')
            } else {
                $('#small-img-roll').css('left', '0')
            }
        }
    })

    //Enable the next button

    $('#next-img').click(function () {
        $('#show-img').attr('src', $(".show-small-img[alt='now']").next().attr('src'))
        $('#big-img').attr('src', $(".show-small-img[alt='now']").next().attr('src'))
        $(".show-small-img[alt='now']").next().css({ 'border': 'solid 1px #951b25', 'padding': '2px' }).siblings().css({ 'border': 'none', 'padding': '0' })
        $(".show-small-img[alt='now']").next().attr('alt', 'now').siblings().removeAttr('alt')
        if ($('#small-img-roll').children().length > 4) {
            if ($(".show-small-img[alt='now']").index() >= 3 && $(".show-small-img[alt='now']").index() < $('#small-img-roll').children().length - 1) {
                $('#small-img-roll').css('left', -($(".show-small-img[alt='now']").index() - 2) * 76 + 'px')
            } else if ($(".show-small-img[alt='now']").index() == $('#small-img-roll').children().length - 1) {
                $('#small-img-roll').css('left', -($('#small-img-roll').children().length - 4) * 76 + 'px')
            } else {
                $('#small-img-roll').css('left', '0')
            }
        }
    })

    //Enable the previous button

    $('#prev-img').click(function () {
        $('#show-img').attr('src', $(".show-small-img[alt='now']").prev().attr('src'))
        $('#big-img').attr('src', $(".show-small-img[alt='now']").prev().attr('src'))
        $(".show-small-img[alt='now']").prev().css({ 'border': 'solid 1px #951b25', 'padding': '2px' }).siblings().css({ 'border': 'none', 'padding': '0' })
        $(".show-small-img[alt='now']").prev().attr('alt', 'now').siblings().removeAttr('alt')
        if ($('#small-img-roll').children().length > 4) {
            if ($(".show-small-img[alt='now']").index() >= 3 && $(".show-small-img[alt='now']").index() < $('#small-img-roll').children().length - 1) {
                $('#small-img-roll').css('left', -($(".show-small-img[alt='now']").index() - 2) * 76 + 'px')
            } else if ($(".show-small-img[alt='now']").index() == $('#small-img-roll').children().length - 1) {
                $('#small-img-roll').css('left', -($('#small-img-roll').children().length - 4) * 76 + 'px')
            } else {
                $('#small-img-roll').css('left', '0')
            }
        }
    })

</script>