<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

<style>
    .glass {
        width: 175px;
        height: 175px;
        position: absolute;
        border-radius: 50%;
        cursor: crosshair;

        /* Multiple box shadows to achieve the glass effect */
        box-shadow:
            0 0 0 7px rgba(255, 255, 255, 0.85),
            0 0 7px 7px rgba(0, 0, 0, 0.25),
            inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

        /* hide the glass by default */
        display: none;
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 50px;
        width: 50px;
        align-items: center;



    }

    #wrap {
        max-width: 700px;
        margin: 20px auto;
    }

    .product {
        margin: 20px auto;
        text-align: center;
        padding: 20px;
    }

    .carousel {
        width: 400px;
        height: 500px;
    }
</style>
<div class="breadcrumb-area ptb-170"
    style="background-size: cover;background-image: url(/images/watchImages/Banner1.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">

            <ul class="breadcrumb-list mr-5">

                <li>
                    <a href="/" title="Back to the home page">Home</a>
                </li>
                <li>




                    <span>{{product.name}}</span>


                </li>
            </ul>


        </div>
    </div>
</div>




<div class="product-details neha_pr_dt">
    <div class="container p-0">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-12">
                <div class="product-details-img-content">
                    <div class="product-details-tab mr-70 pr_style_1">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active product">
                                    <img src="/productImages/{{product._id}}a.jpg" class="d-block  magniflier"
                                        alt="...">
                                </div>
                                <div class="carousel-item product">
                                    <img src="/productImages/{{product._id}}b.jpg" class="d-block  magniflier"
                                        alt="...">
                                </div>
                                <div class="carousel-item product">
                                    <img src="/productImages/{{product._id}}c.jpg" class="d-block  magniflier"
                                        alt="...">
                                </div>
                                <div class="carousel-item product">
                                    <img src="/productImages/{{product._id}}d.jpg" class="d-block  magniflier"
                                        alt="...">
                                </div>
                            </div>
                            <a class="carousel-control-prev" style="color: black;" href="#carouselExampleIndicators"
                                role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" style="color: black;"
                                    aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-5 col-12">
                <div class="product-details-content ">
                    <div class="inner-wrapper-sticky">
                        <h3>{{product.name}}</h3>

                        <div class="rating-number">
                            <div class="quick-view-rating">
                                <span class="shopify-product-reviews-badge" data-id="1310201413721"></span>
                            </div>
                        </div>


                        <div class="details-price">
                            <span id="ProductPrice"><span class=money>₹{{product.cost}}</span></span>

                            <del><span id="ComparePrice"><span class=money>₹{{product.price}}</span></span></del>

                        </div>
                        <div>

                            {{#if product.proOffer}}
                            <div>
                                <strong><span class="sale mb-3">{{product.proPercentage}}% OFF</strong> for this
                                Product</span>
                            </div>
                            {{/if}}
                        </div>





                        <p>A watch is a portable timepiece intended to be carried or worn by a person. ... During most
                            of its history the watch was a mechanical device, driven by clockwork, powered by winding a
                            mainspring, and keeping time with an oscillating balance wheel. These are called mechanical
                            watches.</p>






                        <form action="" method="post" enctype="multipart/form-data" id="add-item-form">










                            <div class="quickview-plus-minus">
                                {{!-- <div class="cart-plus-minus">
                                    <input type="text" value="01" name="quantity" class="cart-plus-minus-box">
                                </div> --}}

                                {{!-- <div class="" style="font-size: 24px; ">
                                    <button
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                                </div>
                                <div class=" quantity" style="font-size: 18px;">
                                    <span id="{{this.product._id}}" class=""> {{this.quantity}}0</span>
                                </div>
                                <div class=" quantity" style="font-size: 18px;">
                                    <button class=""
                                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                                </div> --}}

                                <div class="quickview-btn-cart">

                                    {{#if product.stockout}}
                                    <p class="text-danger text-center">Out of Stock</p>
                                    {{else}}
                                    <a class="btn-hover-black addtocart cart-item"
                                        onclick="addToCart('{{product._id}}')" data-toggle="tooltip"
                                        title="add to cart">
                                        <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                        <i class="ion-android-done"></i> add to cart
                                    </a>
                                    <a class="btn-hover-black addtocart cart-item" href="/buyNow/{{product._id}}"
                                        data-toggle="tooltip" title="add to cart">
                                        <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                        <i class="ion-android-done"></i>Buy Now
                                    </a>
                                    {{/if}}




                                </div>


                                <div class="quickview-btn-wishlist">

                                    <a href="" title="Wishlist" class="btn-hover list-btn-wishlist animate-left">
                                        <i class="ion-ios-heart-outline"></i>
                                    </a>


                                </div>

                            </div>
                        </form>


                        <div class="product-categories product-cat-tag">

                            <ul>
                                <li class="categories-title">Category :</li>
                                <li><a href="">{{product.category}}</a></li> <br>
                                <li><a href="">100% Original Products</a></li> <br>
                                <li><a href="">Cash on delivery might be available</a></li>
                            </ul>
                        </div>




                        <div class="product-tags product-cat-tag">
                            <ul>

                                <li class="categories-title text-dark">Product details:</li> <br>
                                <li><a href="">Pack Contains: single watch</a></li> <br>
                                <li><a href="">Movement: quartz</a></li> <br>
                                <li><a href="">Power Source: battery</a></li> <br>
                                <li><a href="">Water resistance: 100 m</a></li> <br>
                                <li><a href="">Comes in a signature {{product.brand}} case</a></li> <br>
                                <li><a href="">Warranty: 2 years</a></li> <br>
                                <li><a href="">Warranty provided by Brand Owner / Manufacturer</a></li> <br>
                                        


                            </ul>
                        </div>






                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .product-details.neha_pr_dt {
        padding-top: 100px;
        padding-bottom: 90px;
        margin-bottom: 0px;
    }
</style>

<div class="mt-3 mb-5">
    <center>
        <h3>
            <strong>RELATED PRODUCTS</strong>
        </h3>
    </center>
</div>
<div class="container tab-content jump mb-4">
    <div class="row">
        <div class="rhs_product_tab rhs_match_height">

            {{#each realtedProducts}}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">


                <div class="single-product mb-35">
                    <div class="product-img">
                        <a href="/product/{{this._id}}">
                            <img src="/productImages/{{this._id}}a.jpg" alt="">
                        </a>



                        <div class="product-action">

                            <a class="animate-left" href="#" title="Wishlist">
                                <i class="ion-ios-heart-outline"></i>
                            </a>

                            {{!-- <a title="Quick View" data-toggle="modal" data-target="#exampleModal"
                                class="animate-right" href="javascript:void(0);"
                                onclick="quiqview('predefinidos-cuando')"><i class="ion-ios-eye-outline"></i></a> --}}
                        </div>
                    </div>

                    <div class="product-content">
                        <div class="product-title-price">
                            <div class="product-title">
                                <h4><a href="#">{{this.name}}</a>
                                </h4>
                            </div>
                        </div>

                        <div class="product-cart-categori">

                            <div class="product-cart">
                                <span>{{this.category}}</span>
                            </div>




                            <div class="product-price">

                                <span><del><span class=money>₹{{this.price}}</span></del></span>

                                <span class="price--sale"><span class=money>₹{{this.cost}}</span></span>
                            </div>


                            <div class="product-categori">

                                {{#if this.stockout}}
                                <span class="text-danger">Out of stock</span>
                                {{else}}
                                <button class="add_cart btn btn-light cart-item "
                                    style="width: 130px; border: 1px solid black !important;"
                                    onclick="addToCart('{{this._id}}')" title="Add to cart">

                                    <i class="ion-bag"></i>
                                    <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                    <i class="ion-android-done"></i> Add to Cart
                                </button>
                                <br>
                                <a class="add_cart btn btn-light cart-item mt-1" href="/buyNow/{{this._id}}"
                                    style="width: 130px; border: 1px solid black !important;">

                                    <i class="ion-bag"></i>
                                    <i class="ion-ios-loop-strong animated rotateIn infinite"></i>
                                    <i class="ion-android-done"></i> Buy Now
                                </a>
                                {{/if}}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>



    </div>
</div>