<style>
    body {
        min-height: 100vh;
        background-size: cover;
        font-family: 'Lato', sans-serif;
        color: rgba(116, 116, 116, 0.667);

    }

    .container-fluid {
        margin-top: 200px
    }

    p {
        font-size: 14px;
        margin-bottom: 7px
    }

    .small {
        letter-spacing: 0.5px !important
    }



    hr {
        background-color: rgba(248, 248, 248, 0.667)
    }

    .bold {
        font-weight: 500
    }

    .change-color {
        color: #a8741a !important
    }

    .card-2 {
        box-shadow: 1px 1px 3px 0px rgb(112, 115, 139)
    }

    .fa-circle.active {
        font-size: 8px;
        color: #a8741a
    }

    .fa-circle {
        font-size: 8px;
        color: #aaa
    }

    .rounded {
        border-radius: 2.25rem !important
    }

    .progress-bar {
        background-color: #AB47BC !important
    }

    .progress {
        height: 5px !important;
        margin-bottom: 0
    }

    .invoice {
        position: relative;
        top: -70px
    }

    .Glasses {
        position: relative;
        top: -12px !important
    }

    .card-footer {
        background-color: #AB47BC;
        color: #fff
    }

    h2 {
        
        letter-spacing: 2px !important
    }

    .display-3 {
        font-weight: 500 !important
    }

    @media (max-width: 479px) {
        .invoice {
            position: relative;
            top: 7px
        }

        .border-line {
            border-right: 0px solid rgb(226, 206, 226) !important
        }
    }

    @media (max-width: 700px) {
        h2 {
            color: rgb(78, 0, 92);
            font-size: 17px
        }

        .display-3 {
            font-size: 28px;
            font-weight: 500 !important
        }

        .cat {
            display: :none !important;
        }

    }

    @media screen and (max-width: 76px) {
        div.cat {
            display: none;
        }
    }



    .card-footer small {
        letter-spacing: 7px !important;
        font-size: 12px
    }

    .border-line {
        border-right: 1px solid rgb(226, 206, 226)
    }

    .card {
        display: flex;
        flex-direction: row;
    }
</style>
<div class="container">
    <div class="row mt-2">

        <div>
            <i class="fas fa-arrow-left mr-2" style="color: black;"></i>
        </div>
        <div>
            <a href="/myOrders">
                <h6>Back to orders</h6>
            </a>
        </div>

    </div>
</div>
<div class="container-fluid my-5  pb-5">
    <div class="card card-1 col-md-12 row">



        {{#each products}}
        <div class="card-body col-md-4">
            <div class="row justify-content-between mb-3">

                <div class="col-auto "> <small>Order ID : {{this._id}}</small> </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media">
                                <div class="sq align-self-center "> <img
                                        class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                        src="/productImages/{{this.product._id}}a.jpg" width="150" height="250" />
                                </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto  ">
                                        <div class="col my-auto">
                                            <h7 class="mb-0" style="color: black;">{{this.product.name}}</h7>
                                        </div>
                                        <div class="col my-auto">
                                            <p>Price:</p>
                                            <h6 class="mb-0">&#8377;{{this.product.price}}</h6>
                                        </div>
                                        {{!-- <small>Category:</small> <br> --}}
                                        <div class="col-auto my-auto cat"> <small>{{this.product.category}}</small>
                                        </div>

                                        <div class="col my-auto"> <small>Qty :{{this.quantity}}</small></div>
                                        
                                    </div>
                                    <div class="mt-5 ">
                                        <a href="/product/{{this.product._id}}" class="btn ">More</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <p class="mb-1 text-dark"><b>Order Details</b></p>
                        </div>
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Total</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">&#8377;{{this.subtotal}}</p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"> <b>Discount</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">&#8377;0.00</p>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col">
                            <p class="mb-1"><b>Delivery Charges</b></p>
                        </div>
                        <div class="flex-sm-col col-auto">
                            <p class="mb-1">Free</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row invoice ">
                <div class="col">
                    {{!-- <p class="mb-1"> Invoice Number : 788152</p> --}}


                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>