<ol class="breadcrumb">
    <li class="pr-3"><a href="/admin" style="text-decoration: none;">Home</a></li>
    <li class="active">Brands</li>
</ol>
<table class="table" id="adminTable">
    <div class="row">
        <div class="col-md-6 mb-3">
            <a href="/admin/brands/add" class="btn btn-primary ml-auto" style="margin-top: 20px;">Add New
                Brands</a>
        </div>
    </div>
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Logo</th>
            <th scope="col">Description</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each brands}}
        <tr>
            <td scope="row"></td>
            <td>{{this.brand}}</td>
            <td>
                <img style="height: 50px;width:50px" src="https://shabith.ml/brandLogos/{{this._id}}.jpg">
            </td>
            <td>{{this.description}}</td>
            <td><a href="/admin/edit-brand/{{this._id}}" class="btn btn-primary"><i class="fas fa-edit"></i></a>

                <a class="btn btn-danger" href="/admin/delete-brand/{{this._id}}" name="{{this.brand}}"
                    onclick="deleteBrand(event)"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>