extends ../layouts/master.pug

block csslib
	link(href='/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css')
	link(href='/admin/assets/plugins/custom/vis-timeline/vis-timeline.bundle.css' rel='stylesheet' type='text/css')

block jslib
	script(src='/admin/assets/plugins/custom/datatables/datatables.bundle.js')
	script(src='/admin/assets/js/widgets.bundle.js')
	script(src='/admin/assets/js/custom/widgets.js')
	script(src='/admin/assets/js/custom/apps/chat/chat.js')
	script(src='/admin/assets/js/custom/utilities/modals/upgrade-plan.js')
	script(src='/admin/assets/js/custom/utilities/modals/users-search.js')
	script(src='/admin/assets/plugins/custom/vis-timeline/vis-timeline.bundle.js')

block customScript
	//- script.
		$("#kt_daterangepicker_1").daterangepicker({
			startDate: '#{dateObject.sd_req_period}', // after open picker you'll see this dates as picked
			endDate: '#{dateObject.ed_req_period}',
			"locale" : {
				"format": "DD/MM/YYYY",
			}
		});
		$("#kt_daterangepicker_1").on('change', function(ev) {
			console.log($(this).val())
			window.location.href= `/admin/dashboard?dt=${$(this).val()}`
		})
		var dailySalesChart = {
			init: function () {

				var labels = '#{daily_summary.daily_sales_day_array}'
				var labelsArr = labels.split(',')

				!(function () {
					var e = document.getElementById("daily_sales_chart");
					if (e) {
						var t = parseInt(KTUtil.css(e, "height")),
							a = KTUtil.getCssVariableValue("--kt-gray-500"),
							l = KTUtil.getCssVariableValue("--kt-border-dashed-color"),
							r = KTUtil.getCssVariableValue("--kt-primary"),
							o = KTUtil.getCssVariableValue("--kt-gray-300"),
							i = new ApexCharts(e, {
								series: [
									{
										name: "Sales",
										data: [#{ daily_summary.daily_sales_array }],
									},
								],
								chart: {
									fontFamily: "inherit",
									type: "bar",
									height: t,
									toolbar: { show: !1 },
									sparkline: { enabled: !0 },
								},
								plotOptions: {
									bar: {
										horizontal: !1,
										columnWidth: ["55%"],
										borderRadius: 6,
									},
								},
								legend: { show: !1 },
								dataLabels: { enabled: !1 },
								stroke: { show: !0, width: 9, colors: ["transparent"] },
								xaxis: {
									axisBorder: { show: !1 },
									axisTicks: { show: !1, tickPlacement: "between" },
									labels: {
										show: !1,
										style: { colors: a, fontSize: "12px" },
									},
									crosshairs: { show: !1 },
								},
								yaxis: {
									labels: {
										show: !1,
										style: { colors: a, fontSize: "12px" },
									},
								},
								fill: { type: "solid" },
								states: {
									normal: { filter: { type: "none", value: 0 } },
									hover: { filter: { type: "none", value: 0 } },
									active: {
										allowMultipleDataPointsSelection: !1,
										filter: { type: "none", value: 0 },
									},
								},
								tooltip: {
									style: { fontSize: "12px" },
									x: {
										formatter: function (e) {
											return labelsArr[e-1]
										},
									},
									y: {
										formatter: function (e) {
											return e + "#{authAdmin.selected_brand.country_currency_symbol.toUpperCase()}";
										},
									},
								},
								colors: [r, o],
								grid: {
									padding: { left: 10, right: 10 },
									borderColor: l,
									strokeDashArray: 4,
									yaxis: { lines: { show: !0 } },
								},
							});
						setTimeout(function () {
							i.render();
						}, 300);
					}
				})();
			},
		};
		"undefined" != typeof module && (module.exports = dailySalesChart),
			KTUtil.onDOMContentLoaded(function () {
				dailySalesChart.init();
			});

		var MonthSalesLineChart = (function () {
			var days_labels = '#{orderSummary.last_thirty_day_labels}'
			var days_labelsArr = days_labels.split(',')
			var maxYvalue = Math.ceil( Math.max(...[#{orderSummary.last_thirty_day_sum}])) + 1
			console.log(maxYvalue)
			var e = { self: null, rendered: !1 },
				t = function (e) {
					var t = document.getElementById('month_sales_line_chart')
					if (t) {
						var a = parseInt(KTUtil.css(t, 'height')),
							l = KTUtil.getCssVariableValue('--kt-gray-500'),
							r = KTUtil.getCssVariableValue('--kt-border-dashed-color'),
							o = KTUtil.getCssVariableValue('--kt-success'),
							i = {
								series: [
									{
										name: 'Sales',
										data: [#{orderSummary.last_thirty_day_sum}],
									},
								],
								chart: {
									fontFamily: 'inherit',
									type: 'area',
									height: a,
									toolbar: { show: !1 },
								},
								plotOptions: {},
								legend: { show: !1 },
								dataLabels: { enabled: !1 },
								fill: {
									type: 'gradient',
									gradient: {
										shadeIntensity: 1,
										opacityFrom: 0.4,
										opacityTo: 0,
										stops: [0, 80, 100],
									},
								},
								stroke: {
									curve: 'smooth',
									show: !0,
									width: 3,
									colors: [o],
								},
								xaxis: {
									categories: days_labelsArr,
									axisBorder: { show: !1 },
									axisTicks: { show: !1 },
									tickAmount: 7,
									labels: {
										rotate: 270,
										rotateAlways: !0,
										style: { colors: l, fontSize: '12px' },
									},
									crosshairs: {
										position: 'front',
										stroke: { color: o, width: 1, dashArray: 3 },
									},
									tooltip: {
										enabled: !0,
										formatter: void 0,
										offsetY: 0,
										style: { fontSize: '12px' },
									},
								},
								yaxis: {
									tickAmount: 4,
									max: maxYvalue, //y axis maximum value
									min: 1,
									labels: {
										style: { colors: l, fontSize: '12px' },
										formatter: function (e) {
											return '#{authAdmin.selected_brand.country_currency_symbol.toUpperCase()}' + e + 'K'
										},
									},
								},
								states: {
									normal: { filter: { type: 'none', value: 0 } },
									hover: { filter: { type: 'none', value: 0 } },
									active: {
										allowMultipleDataPointsSelection: !1,
										filter: { type: 'none', value: 0 },
									},
								},
								tooltip: {
									style: { fontSize: '12px' },
									y: {
										formatter: function (e) {
											return '#{authAdmin.selected_brand.country_currency_symbol.toUpperCase()}' + e + 'K'
										},
									},
								},
								colors: [KTUtil.getCssVariableValue('--kt-success')],
								grid: {
									borderColor: r,
									strokeDashArray: 4,
									yaxis: { lines: { show: !0 } },
								},
								markers: { strokeColor: o, strokeWidth: 3 },
							}
						;(e.self = new ApexCharts(t, i)),
							setTimeout(function () {
								e.self.render(), (e.rendered = !0)
							}, 200)
					}
				}
			return {
				init: function () {
					t(e),
						KTThemeMode.on('kt.thememode.change', function () {
							e.rendered && e.self.destroy(), t(e)
						})
				},
			}
		})()
		'undefined' != typeof module && (module.exports = MonthSalesLineChart),
			KTUtil.onDOMContentLoaded(function () {
				MonthSalesLineChart.init()
			})

block content
	.d-flex.flex-column.flex-column-fluid
		#kt_app_toolbar.app-toolbar.py-3.py-lg-6
			#kt_app_toolbar_container.app-container.container-xxl.d-flex.flex-stack
				.page-title.d-flex.flex-column.justify-content-center.flex-wrap.me-3
					h1.page-heading.d-flex.text-dark.fw-bold.fs-3.flex-column.justify-content-center.my-0 eCommerce Dashboard
					ul.breadcrumb.breadcrumb-separatorless.fw-semibold.fs-7.my-0.pt-1
						li.breadcrumb-item.text-muted
							a.text-muted.text-hover-primary(href='/admin/dashboard') Home
						li.breadcrumb-item
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted Dashboards
					sapn
						span.badge.badge-success #{dateObject.sd_prev_period} - #{dateObject.ed_prev_period}
						span.bage.badge-warning.mx-1.px-1 VS
						span.badge.badge-success #{dateObject.sd_req_period} - #{dateObject.ed_req_period}
				.col-lg-4.d-flex.align-items-center.gap-2.gap-lg-2
					input#kt_daterangepicker_1.form-control.form-control-solid(placeholder='Pick date rage')
					a.btn.btn-sm.fw-bold.bg-body.btn-color-gray-700.btn-active-color-primary(href='/admin/ecommerce/orders') Manage Sales
					a.btn.btn-sm.fw-bold.btn-primary(href='/admin/ecommerce/catalog/products/add') Add Product
		//- COMMENT
		//- #kt_app_content.app-content.flex-column-fluid
			#kt_app_content_container.app-container.container-xxl
				.row.g-5.g-xl-10.mb-xl-10
					.col-md-6.col-lg-6.col-xl-6.col-xxl-3.mb-md-5.mb-xl-10
						.card.card-flush.h-md-50.mb-5.mb-xl-10
							.card-header.pt-5
								.card-title.d-flex.flex-column
									.d-flex.align-items-center
										span.fs-4.fw-semibold.text-gray-400.me-1.align-self-start #{authAdmin.selected_brand.country_currency_symbol.toUpperCase()}
										span.fs-2hx.fw-bold.text-dark.me-2.lh-1.ls-n2 #{orderSummary.currentMonth.toLocaleString()}
										span.badge.fs-base(class=`${orderSummary.monthlyDifferenceInPercentage >= 0 ? 'badge-light-success' : 'badge-light-danger'}`)
											span.svg-icon.svg-icon-5.ms-n1(class=`${orderSummary.monthlyDifferenceInPercentage >= 0 ? 'svg-icon-success' : 'svg-icon-danger'}`)
												svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
													rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
													path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
											| #{orderSummary.monthlyDifferenceInPercentage.toLocaleString()}%
									span.text-gray-400.pt-1.fw-semibold.fs-6 Earnings
							//- .card-body.pt-2.pb-4.d-flex.align-items-center
							//- 	.d-flex.flex-center.me-5.pt-2
							//- 		#kt_card_widget_4_chart(style='min-width: 70px; min-height: 70px' data-kt-size='70' data-kt-line='11')
							//- 	.d-flex.flex-column.content-justify-center.w-100
							//- 		.d-flex.fs-6.fw-semibold.align-items-center
							//- 			.bullet.w-8px.h-6px.rounded-2.bg-danger.me-3
							//- 			.text-gray-500.flex-grow-1.me-4 Shoes
							//- 			.fw-bolder.text-gray-700.text-xxl-end AED7,660
							//- 		.d-flex.fs-6.fw-semibold.align-items-center.my-3
							//- 			.bullet.w-8px.h-6px.rounded-2.bg-primary.me-3
							//- 			.text-gray-500.flex-grow-1.me-4 Gaming
							//- 			.fw-bolder.text-gray-700.text-xxl-end AED2,820
							//- 		.d-flex.fs-6.fw-semibold.align-items-center
							//- 			.bullet.w-8px.h-6px.rounded-2.me-3(style='background-color: #E4E6EF')
							//- 			.text-gray-500.flex-grow-1.me-4 Others
							//- 			.fw-bolder.text-gray-700.text-xxl-end AED45,257
						.card.card-flush.h-md-50.mb-xl-10
							.card-header.pt-5
								.card-title.d-flex.flex-column
									.d-flex.align-items-center
										span.fs-2hx.fw-bold.text-dark.me-2.lh-1.ls-n2 #{orderSummary.currentMonthCount.toLocaleString()}
										span.badge.fs-base(class=`${orderSummary.monthlyCountDifferenceInPercentage >= 0 ? 'badge-light-success' : 'badge-light-danger'}`)
											span.svg-icon.svg-icon-5.ms-n1(class=`${orderSummary.monthlyCountDifferenceInPercentage >= 0 ? 'svg-icon-success' : 'svg-icon-danger'}`)
												svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
													rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
													path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
											| #{orderSummary.monthlyCountDifferenceInPercentage.toLocaleString()}%
									span.text-gray-400.pt-1.fw-semibold.fs-6 Orders
							//- .card-body.d-flex.align-items-end.pt-0
							//- 	.d-flex.align-items-center.flex-column.mt-3.w-100
							//- 		.d-flex.justify-content-between.w-100.mt-auto.mb-2
							//- 			span.fw-bolder.fs-6.text-dark 1,048 to Goal
							//- 			span.fw-bold.fs-6.text-gray-400 62%
							//- 		.h-8px.mx-3.w-100.bg-light-success.rounded
							//- 			.bg-success.rounded.h-8px(role='progressbar' style='width: 62%;' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
					.col-md-6.col-lg-6.col-xl-6.col-xxl-3.mb-md-5.mb-xl-10
						.card.card-flush.h-md-50.mb-5.mb-xl-10
							.card-header.pt-5
								.card-title.d-flex.flex-column
									.d-flex.align-items-center
										span.fs-4.fw-semibold.text-gray-400.me-1.align-self-start #{authAdmin.selected_brand.country_currency_symbol.toUpperCase()}
										span.fs-2hx.fw-bold.text-dark.me-2.lh-1.ls-n2 #{orderSummary.dayOrderSummary.yesterday}
										span.badge.fs-base(class=`${orderSummary.dailyDifferenceInPercentage >= 0 ? 'badge-light-success' : 'badge-light-danger'}`)
											span.svg-icon.svg-icon-5.ms-n1(class=`${orderSummary.dailyDifferenceInPercentage >= 0 ? 'svg-icon-success' : 'svg-icon-danger'}`)
												svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
													rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
													path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
											| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;#{orderSummary.dailyDifferenceInPercentage.toLocaleString()}%
									span.text-gray-400.pt-1.fw-semibold.fs-6 Daily Sales
							.card-body.d-flex.align-items-end.px-0.pb-0
								#daily_sales_chart.w-100(style='height: 80px')
						.card.card-flush.h-md-50.mb-xl-10
							.card-header.pt-5
								.card-title.d-flex.flex-column
									.d-flex.align-items-center
										span.fs-2hx.fw-bold.text-dark.me-2.lh-1.ls-n2 #{userSummary.currentMonth.toLocaleString()}
										span.badge.fs-base(class=`${userSummary.monthlyDifferenceInPercentage >= 0 ? 'badge-light-success' : 'badge-light-danger'}`)
											span.svg-icon.svg-icon-5.ms-n1(class=`${userSummary.monthlyDifferenceInPercentage >= 0 ? 'svg-icon-success' : 'svg-icon-danger'}`)
												svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
													rect(opacity='0.5' x='13' y='6' width='13' height='2' rx='1' transform='rotate(90 13 6)' fill='currentColor')
													path(d='M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z' fill='currentColor')
											| #{userSummary.monthlyDifferenceInPercentage.toLocaleString()}%
									span.text-gray-400.pt-1.fw-semibold.fs-6 New Customers
								//- .card-body.d-flex.flex-column.justify-content-end.pe-0
								//- 	span.fs-6.fw-bolder.text-gray-800.d-block.mb-2 Today&rsquo;s Heroes
								//- 	.symbol-group.symbol-hover.flex-nowrap
								//- 		.symbol.symbol-35px.symbol-circle(data-bs-toggle='tooltip' title='Alan Warden')
								//- 			span.symbol-label.bg-warning.text-inverse-warning.fw-bold A
								//- 		.symbol.symbol-35px.symbol-circle(data-bs-toggle='tooltip' title='Michael Eberon')
								//- 			img(alt='Pic' src='/admin/assets/media/avatars/300-11.jpg')
								//- 		.symbol.symbol-35px.symbol-circle(data-bs-toggle='tooltip' title='Susan Redwood')
								//- 			span.symbol-label.bg-primary.text-inverse-primary.fw-bold S
								//- 		.symbol.symbol-35px.symbol-circle(data-bs-toggle='tooltip' title='Melody Macy')
								//- 			img(alt='Pic' src='/admin/assets/media/avatars/300-2.jpg')
								//- 		.symbol.symbol-35px.symbol-circle(data-bs-toggle='tooltip' title='Perry Matthew')
								//- 			span.symbol-label.bg-danger.text-inverse-danger.fw-bold P
								//- 		.symbol.symbol-35px.symbol-circle(data-bs-toggle='tooltip' title='Barry Walter')
								//- 			img(alt='Pic' src='/admin/assets/media/avatars/300-12.jpg')
								//- 		a.symbol.symbol-35px.symbol-circle(href='#' data-bs-toggle='modal' data-bs-target='#kt_modal_view_users')
								//- 			span.symbol-label.bg-light.text-gray-400.fs-8.fw-bold +42
					
					.col-lg-12.col-xl-12.col-xxl-6.mb-5.mb-xl-0
						.card.card-flush.overflow-hidden.h-md-100
							.card-header.py-5
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-dark Sales
									//- span.text-gray-400.mt-1.fw-semibold.fs-6 Users from all channels
									//- .card-toolbar
									//- 	button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
									//- 		span.svg-icon.svg-icon-1
									//- 			svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
									//- 				rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
									//- 				rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									//- 				rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									//- 				rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									//- 	.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
									//- 		.menu-item.px-3
									//- 			.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
									//- 		.separator.mb-3.opacity-75
									//- 		.menu-item.px-3
									//- 			a.menu-link.px-3(href='#') New Ticket
									//- 		.menu-item.px-3
									//- 			a.menu-link.px-3(href='#') New Customer
									//- 		.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
									//- 			a.menu-link.px-3(href='#')
									//- 				span.menu-title New Group
									//- 				span.menu-arrow
									//- 			.menu-sub.menu-sub-dropdown.w-175px.py-4
									//- 				.menu-item.px-3
									//- 					a.menu-link.px-3(href='#') Admin Group
									//- 				.menu-item.px-3
									//- 					a.menu-link.px-3(href='#') Staff Group
									//- 				.menu-item.px-3
									//- 					a.menu-link.px-3(href='#') Member Group
									//- 		.menu-item.px-3
									//- 			a.menu-link.px-3(href='#') New Contact
									//- 		.separator.mt-3.opacity-75
									//- 		.menu-item.px-3
									//- 			.menu-content.px-3.py-3
									//- 				a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
							.card-body.d-flex.justify-content-between.flex-column.pb-1.px-0
								.px-9.mb-5
									.d-flex.mb-2
										span.fs-4.fw-semibold.text-gray-400.me-1 #{authAdmin.selected_brand.country_currency_symbol.toUpperCase()}
										span.fs-2hx.fw-bold.text-gray-800.me-2.lh-1.ls-n2 #{orderSummary.currentMonth.toLocaleString()}
									//- span.fs-6.fw-semibold.text-gray-400 Another AED48,346 to Goal
								#month_sales_line_chart.min-h-auto.ps-4.pe-6(style='height: 300px')
				.row.gy-5.g-xl-10
					.col-xl-12.mb-xl-10
						.card.card-flush.mb-xl-10
							.card-header.pt-5
								.card-title.d-flex.flex-column
									h3.card-title.align-items-start.flex-column
										span.card-label.fw-bold.text-dark SMS Usage
							.card-body.d-flex.justify-content-between.flex-column.pt-0.pb-1.px-0
								.px-9.mb-5
									.d-flex.justify-content-between.mb-2
										span.text-gray-400.pt-1.fw-semibold.fs-6 Total Used:
											span.fs-2x.fw-bold.text-dark.me-2.lh-1.ls-n2  </br> #{sms_credits.totalUsed}
										span.text-gray-400.pt-1.fw-semibold.fs-6 Balance:
											span.fs-2x.fw-bold.text-dark.me-2.lh-1.ls-n2 </br> #{sms_credits.balance}
										span.text-gray-400.pt-1.fw-semibold.fs-6 Over Draf:
											span.fs-2x.fw-bold.text-dark.me-2.lh-1.ls-n2 </br> #{sms_credits.overdraft}
										span.text-gray-400.pt-1.fw-semibold.fs-6 Expiry At:
											span.fs-2x.fw-bold.text-dark.me-2.lh-1.ls-n2 </br> #{sms_credits.expiryDate}
							
				//- .row.gy-5.g-xl-10
					.col-xl-6.mb-xl-10
						.card.h-md-100
							.card-header.align-items-center.border-0
								h3.fw-bold.text-gray-900.m-0 Recent Orders
								button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
									span.svg-icon.svg-icon-1
										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
											rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
											rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
											rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
											rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
								.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
									.menu-item.px-3
										.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
									.separator.mb-3.opacity-75
									.menu-item.px-3
										a.menu-link.px-3(href='#') New Ticket
									.menu-item.px-3
										a.menu-link.px-3(href='#') New Customer
									.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
										a.menu-link.px-3(href='#')
											span.menu-title New Group
											span.menu-arrow
										.menu-sub.menu-sub-dropdown.w-175px.py-4
											.menu-item.px-3
												a.menu-link.px-3(href='#') Admin Group
											.menu-item.px-3
												a.menu-link.px-3(href='#') Staff Group
											.menu-item.px-3
												a.menu-link.px-3(href='#') Member Group
									.menu-item.px-3
										a.menu-link.px-3(href='#') New Contact
									.separator.mt-3.opacity-75
									.menu-item.px-3
										.menu-content.px-3.py-3
											a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
							.card-body.pt-2
								//- ul.nav.nav-pills.nav-pills-custom.mb-3
									li.nav-item.mb-3.me-3.me-lg-6
										a.nav-link.d-flex.justify-content-between.flex-column.flex-center.overflow-hidden.active.w-80px.h-85px.py-4(data-bs-toggle='pill' href='#kt_stats_widget_2_tab_1')
											.nav-icon
												img(alt='' src='/admin/assets/media/svg/products-categories/t-shirt.svg')
											span.nav-text.text-gray-700.fw-bold.fs-6.lh-1 T-shirt
											span.bullet-custom.position-absolute.bottom-0.w-100.h-4px.bg-primary
									li.nav-item.mb-3.me-3.me-lg-6
										a.nav-link.d-flex.justify-content-between.flex-column.flex-center.overflow-hidden.w-80px.h-85px.py-4(data-bs-toggle='pill' href='#kt_stats_widget_2_tab_2')
											.nav-icon
												img(alt='' src='/admin/assets/media/svg/products-categories/gaming.svg')
											span.nav-text.text-gray-700.fw-bold.fs-6.lh-1 Gaming
											span.bullet-custom.position-absolute.bottom-0.w-100.h-4px.bg-primary
									li.nav-item.mb-3.me-3.me-lg-6
										a.nav-link.d-flex.justify-content-between.flex-column.flex-center.overflow-hidden.w-80px.h-85px.py-4(data-bs-toggle='pill' href='#kt_stats_widget_2_tab_3')
											.nav-icon
												img(alt='' src='/admin/assets/media/svg/products-categories/watch.svg')
											span.nav-text.text-gray-600.fw-bold.fs-6.lh-1 Watch
											span.bullet-custom.position-absolute.bottom-0.w-100.h-4px.bg-primary
									li.nav-item.mb-3.me-3.me-lg-6
										a.nav-link.d-flex.justify-content-between.flex-column.flex-center.overflow-hidden.w-80px.h-85px.py-4(data-bs-toggle='pill' href='#kt_stats_widget_2_tab_4')
											.nav-icon
												img.nav-icon(alt='' src='/admin/assets/media/svg/products-categories/gloves.svg')
											span.nav-text.text-gray-600.fw-bold.fs-6.lh-1 Gloves
											span.bullet-custom.position-absolute.bottom-0.w-100.h-4px.bg-primary
									li.nav-item.mb-3
										a.nav-link.d-flex.justify-content-between.flex-column.flex-center.overflow-hidden.w-80px.h-85px.py-4(data-bs-toggle='pill' href='#kt_stats_widget_2_tab_5')
											.nav-icon
												img.nav-icon(alt='' src='/admin/assets/media/svg/products-categories/shoes.svg')
											span.nav-text.text-gray-600.fw-bold.fs-6.lh-1 Shoes
											span.bullet-custom.position-absolute.bottom-0.w-100.h-4px.bg-primary
								.tab-content
									#kt_stats_widget_2_tab_1.tab-pane.fade.show.active
										.table-responsive
											table.table.table-row-dashed.align-middle.gs-0.gy-4.my-0
												thead
													tr.fs-7.fw-bold.text-gray-500.border-bottom-0
														th.ps-0.w-50px ITEM
														th.min-w-140px
														th.text-end.min-w-140px QTY
														th.pe-0.text-end.min-w-120px PRICE
														th.pe-0.text-end.min-w-120px TOTAL PRICE
												tbody
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/210.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Elephant 1802
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-2347
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x1
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED72.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED126.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/215.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Red Laga
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-1321
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x2
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED45.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED76.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/209.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') RiseUP
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-4312
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x3
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED84.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED168.00
									#kt_stats_widget_2_tab_2.tab-pane.fade
										.table-responsive
											table.table.table-row-dashed.align-middle.gs-0.gy-4.my-0
												thead
													tr.fs-7.fw-bold.text-gray-500.border-bottom-0
														th.ps-0.w-50px ITEM
														th.min-w-140px
														th.text-end.min-w-140px QTY
														th.pe-0.text-end.min-w-120px PRICE
														th.pe-0.text-end.min-w-120px TOTAL PRICE
												tbody
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/197.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Elephant 1802
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-4312
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x1
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED32.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED312.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/178.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Red Laga
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-3122
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x2
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED53.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED62.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/22.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') RiseUP
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-1142
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x3
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED74.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED139.00
									#kt_stats_widget_2_tab_3.tab-pane.fade
										.table-responsive
											table.table.table-row-dashed.align-middle.gs-0.gy-4.my-0
												thead
													tr.fs-7.fw-bold.text-gray-500.border-bottom-0
														th.ps-0.w-50px ITEM
														th.min-w-140px
														th.text-end.min-w-140px QTY
														th.pe-0.text-end.min-w-120px PRICE
														th.pe-0.text-end.min-w-120px TOTAL PRICE
												tbody
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/1.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Elephant 1324
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-1523
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x1
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED43.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED231.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/24.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Red Laga
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-5314
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x2
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED71.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED53.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/71.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') RiseUP
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-4222
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x3
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED23.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED213.00
									#kt_stats_widget_2_tab_4.tab-pane.fade
										.table-responsive
											table.table.table-row-dashed.align-middle.gs-0.gy-4.my-0
												thead
													tr.fs-7.fw-bold.text-gray-500.border-bottom-0
														th.ps-0.w-50px ITEM
														th.min-w-140px
														th.text-end.min-w-140px QTY
														th.pe-0.text-end.min-w-120px PRICE
														th.pe-0.text-end.min-w-120px TOTAL PRICE
												tbody
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/41.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Elephant 2635
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-1523
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x1
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED65.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED163.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/63.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Red Laga
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-2745
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x2
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED64.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED73.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/59.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') RiseUP
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-5173
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x3
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED54.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED173.00
									#kt_stats_widget_2_tab_5.tab-pane.fade
										.table-responsive
											table.table.table-row-dashed.align-middle.gs-0.gy-4.my-0
												thead
													tr.fs-7.fw-bold.text-gray-500.border-bottom-0
														th.ps-0.w-50px ITEM
														th.min-w-140px
														th.text-end.min-w-140px QTY
														th.pe-0.text-end.min-w-120px PRICE
														th.pe-0.text-end.min-w-120px TOTAL PRICE
												tbody
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/10.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Nike
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-2163
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x1
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED64.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED287.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/96.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Adidas
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-2162
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x2
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED76.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED51.00
													tr
														td
															img.w-50px.ms-n1(src='/admin/assets/media/stock/ecommerce/13.gif' alt='')
														td.ps-0
															a.text-gray-800.fw-bold.text-hover-primary.mb-1.fs-6.text-start.pe-0(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Puma
															span.text-gray-400.fw-semibold.fs-7.d-block.text-start.ps-0 Item: #XDG-1537
														td
															span.text-gray-800.fw-bold.d-block.fs-6.ps-0.text-end x3
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED27.00
														td.text-end.pe-0
															span.text-gray-800.fw-bold.d-block.fs-6 AED167.00
					.col-xl-6.mb-5.mb-xl-10
						.card.card-flush.overflow-hidden.h-md-100
							.card-header.py-5
								h3.card-title.align-items-start.flex-column
									span.card-label.fw-bold.text-dark Discounted Product Sales
									span.text-gray-400.mt-1.fw-semibold.fs-6 Users from all channels
								.card-toolbar
									button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
										span.svg-icon.svg-icon-1
											svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
												rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
												rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
												rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
									.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
										.menu-item.px-3
											.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
										.separator.mb-3.opacity-75
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Ticket
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Customer
										.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
											a.menu-link.px-3(href='#')
												span.menu-title New Group
												span.menu-arrow
											.menu-sub.menu-sub-dropdown.w-175px.py-4
												.menu-item.px-3
													a.menu-link.px-3(href='#') Admin Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Staff Group
												.menu-item.px-3
													a.menu-link.px-3(href='#') Member Group
										.menu-item.px-3
											a.menu-link.px-3(href='#') New Contact
										.separator.mt-3.opacity-75
										.menu-item.px-3
											.menu-content.px-3.py-3
												a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
							.card-body.d-flex.justify-content-between.flex-column.pb-1.px-0
								.px-9.mb-5
									.d-flex.align-items-center.mb-2
										span.fs-4.fw-semibold.text-gray-400.align-self-start.me-1 #{authAdmin.selected_brand.country_currency_symbol.toUpperCase()}
										span.fs-2hx.fw-bold.text-gray-800.me-2.lh-1.ls-n2 3,706
										span.badge.badge-light-success.fs-base
											span.svg-icon.svg-icon-5.svg-icon-success.ms-n1
												svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
													rect(opacity='0.5' x='11' y='18' width='13' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
													path(d='M11.4343 15.4343L7.25 11.25C6.83579 10.8358 6.16421 10.8358 5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75L11.2929 18.2929C11.6834 18.6834 12.3166 18.6834 12.7071 18.2929L18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25C17.8358 10.8358 17.1642 10.8358 16.75 11.25L12.5657 15.4343C12.2533 15.7467 11.7467 15.7467 11.4343 15.4343Z' fill='currentColor')
											| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;4.5%
									span.fs-6.fw-semibold.text-gray-400 Total Discounted Sales This Month
								#kt_charts_widget_4.min-h-auto.ps-4.pe-6(style='height: 300px')
				//- .row.gy-5.g-xl-10
				//- 	.col-xl-4.mb-xl-10
				//- 		.card.h-md-100
				//- 			.card-body.d-flex.flex-column.flex-center
				//- 				.mb-2
				//- 					h1.fw-semibold.text-gray-800.text-center.lh-lg
				//- 						| Have you tried
				//- 						br
				//- 						| new
				//- 						span.fw-bolder eCommerce App ?
				//- 					.py-10.text-center
				//- 						img.theme-light-show.w-200px(src='/admin/assets/media/svg/illustrations/easy/2.svg' alt='')
				//- 						img.theme-dark-show.w-200px(src='/admin/assets/media/svg/illustrations/easy/2-dark.svg' alt='')
				//- 				.text-center.mb-1
				//- 					a.btn.btn-sm.btn-primary.me-2(href='../../demo1/dist/apps/ecommerce/sales/listing.html') View App
				//- 					a.btn.btn-sm.btn-light(href='../../demo1/dist/apps/ecommerce/catalog/add-product.html') New Product
				//- 	.col-xl-8.mb-5.mb-xl-10
				//- 		.card.card-flush.h-xl-100
				//- 			.card-header.pt-7
				//- 				h3.card-title.align-items-start.flex-column
				//- 					span.card-label.fw-bold.text-gray-800 Product Orders
				//- 					span.text-gray-400.mt-1.fw-semibold.fs-6 Avg. 57 orders per day
				//- 				.card-toolbar
				//- 					.d-flex.flex-stack.flex-wrap.gap-4
				//- 						.d-flex.align-items-center.fw-bold
				//- 							.text-gray-400.fs-7.me-2 Cateogry
				//- 							select.form-select.form-select-transparent.text-graY-800.fs-base.lh-1.fw-bold.py-0.ps-3.w-auto(data-control='select2' data-hide-search='true' data-dropdown-css-class='w-150px' data-placeholder='Select an option')
				//- 								option
				//- 								option(value='Show All' selected='selected') Show All
				//- 								option(value='a') Category A
				//- 								option(value='b') Category A
				//- 						.d-flex.align-items-center.fw-bold
				//- 							.text-gray-400.fs-7.me-2 Status
				//- 							select.form-select.form-select-transparent.text-dark.fs-7.lh-1.fw-bold.py-0.ps-3.w-auto(data-control='select2' data-hide-search='true' data-dropdown-css-class='w-150px' data-placeholder='Select an option' data-kt-table-widget-4='filter_status')
				//- 								option
				//- 								option(value='Show All' selected='selected') Show All
				//- 								option(value='Shipped') Shipped
				//- 								option(value='Confirmed') Confirmed
				//- 								option(value='Rejected') Rejected
				//- 								option(value='Pending') Pending
				//- 						.position-relative.my-1
				//- 							span.svg-icon.svg-icon-2.position-absolute.top-50.translate-middle-y.ms-4
				//- 								svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 									rect(opacity='0.5' x='17.0365' y='15.1223' width='8.15546' height='2' rx='1' transform='rotate(45 17.0365 15.1223)' fill='currentColor')
				//- 									path(d='M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z' fill='currentColor')
				//- 							input.form-control.w-150px.fs-7.ps-12(type='text' data-kt-table-widget-4='search' placeholder='Search')
				//- 			.card-body.pt-2
				//- 				table#kt_table_widget_4_table.table.align-middle.table-row-dashed.fs-6.gy-3
				//- 					thead
				//- 						tr.text-start.text-gray-400.fw-bold.fs-7.text-uppercase.gs-0
				//- 							th.min-w-100px Order ID
				//- 							th.text-end.min-w-100px Created
				//- 							th.text-end.min-w-125px Customer
				//- 							th.text-end.min-w-100px Total
				//- 							th.text-end.min-w-100px Profit
				//- 							th.text-end.min-w-50px Status
				//- 							th.text-end
				//- 					tbody.fw-bold.text-gray-600
				//- 						tr.d-none(data-kt-table-widget-4='subtable_template')
				//- 							td(colspan='2')
				//- 								.d-flex.align-items-center.gap-3
				//- 									a.symbol.symbol-50px.bg-secondary.bg-opacity-25.rounded(href='#')
				//- 										img(src='' data-kt-src-path='/admin/assets/media/stock/ecommerce/' alt='' data-kt-table-widget-4='template_image')
				//- 									.d-flex.flex-column.text-muted
				//- 										a.text-gray-800.text-hover-primary.fw-bold(href='#' data-kt-table-widget-4='template_name') Product name
				//- 										.fs-7(data-kt-table-widget-4='template_description') Product description
				//- 							td.text-end
				//- 								.text-gray-800.fs-7 Cost
				//- 								.text-muted.fs-7.fw-bold(data-kt-table-widget-4='template_cost') 1
				//- 							td.text-end
				//- 								.text-gray-800.fs-7 Qty
				//- 								.text-muted.fs-7.fw-bold(data-kt-table-widget-4='template_qty') 1
				//- 							td.text-end
				//- 								.text-gray-800.fs-7 Total
				//- 								.text-muted.fs-7.fw-bold(data-kt-table-widget-4='template_total') name
				//- 							td.text-end
				//- 								.text-gray-800.fs-7.me-3 On hand
				//- 								.text-muted.fs-7.fw-bold(data-kt-table-widget-4='template_stock') 32
				//- 							td
				//- 						tr
				//- 							td
				//- 								a.text-gray-800.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') #XGY-346
				//- 							td.text-end 7 min ago
				//- 							td.text-end
				//- 								a.text-gray-600.text-hover-primary(href='#') Albert Flores
				//- 							td.text-end AED630.00
				//- 							td.text-end
				//- 								span.text-gray-800.fw-bolder AED86.70
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-warning Pending
				//- 							td.text-end
				//- 								button.btn.btn-sm.btn-icon.btn-light.btn-active-light-primary.toggle.h-25px.w-25px(type='button' data-kt-table-widget-4='expand_row')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-off
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.5' x='11' y='18' width='12' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-on
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 						tr
				//- 							td
				//- 								a.text-gray-800.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') #YHD-047
				//- 							td.text-end 52 min ago
				//- 							td.text-end
				//- 								a.text-gray-600.text-hover-primary(href='#') Jenny Wilson
				//- 							td.text-end AED25.00
				//- 							td.text-end
				//- 								span.text-gray-800.fw-bolder AED4.20
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-primary Confirmed
				//- 							td.text-end
				//- 								button.btn.btn-sm.btn-icon.btn-light.btn-active-light-primary.toggle.h-25px.w-25px(type='button' data-kt-table-widget-4='expand_row')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-off
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.5' x='11' y='18' width='12' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-on
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 						tr
				//- 							td
				//- 								a.text-gray-800.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') #SRR-678
				//- 							td.text-end 1 hour ago
				//- 							td.text-end
				//- 								a.text-gray-600.text-hover-primary(href='#') Robert Fox
				//- 							td.text-end AED1,630.00
				//- 							td.text-end
				//- 								span.text-gray-800.fw-bolder AED203.90
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-warning Pending
				//- 							td.text-end
				//- 								button.btn.btn-sm.btn-icon.btn-light.btn-active-light-primary.toggle.h-25px.w-25px(type='button' data-kt-table-widget-4='expand_row')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-off
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.5' x='11' y='18' width='12' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-on
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 						tr
				//- 							td
				//- 								a.text-gray-800.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') #PXF-534
				//- 							td.text-end 3 hour ago
				//- 							td.text-end
				//- 								a.text-gray-600.text-hover-primary(href='#') Cody Fisher
				//- 							td.text-end AED119.00
				//- 							td.text-end
				//- 								span.text-gray-800.fw-bolder AED12.00
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-success Shipped
				//- 							td.text-end
				//- 								button.btn.btn-sm.btn-icon.btn-light.btn-active-light-primary.toggle.h-25px.w-25px(type='button' data-kt-table-widget-4='expand_row')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-off
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.5' x='11' y='18' width='12' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-on
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 						tr
				//- 							td
				//- 								a.text-gray-800.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') #XGD-249
				//- 							td.text-end 2 day ago
				//- 							td.text-end
				//- 								a.text-gray-600.text-hover-primary(href='#') Arlene McCoy
				//- 							td.text-end AED660.00
				//- 							td.text-end
				//- 								span.text-gray-800.fw-bolder AED52.26
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-success Shipped
				//- 							td.text-end
				//- 								button.btn.btn-sm.btn-icon.btn-light.btn-active-light-primary.toggle.h-25px.w-25px(type='button' data-kt-table-widget-4='expand_row')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-off
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.5' x='11' y='18' width='12' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-on
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 						tr
				//- 							td
				//- 								a.text-gray-800.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') #SKP-035
				//- 							td.text-end 2 day ago
				//- 							td.text-end
				//- 								a.text-gray-600.text-hover-primary(href='#') Eleanor Pena
				//- 							td.text-end AED290.00
				//- 							td.text-end
				//- 								span.text-gray-800.fw-bolder AED29.00
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-danger Rejected
				//- 							td.text-end
				//- 								button.btn.btn-sm.btn-icon.btn-light.btn-active-light-primary.toggle.h-25px.w-25px(type='button' data-kt-table-widget-4='expand_row')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-off
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.5' x='11' y='18' width='12' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-on
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 						tr
				//- 							td
				//- 								a.text-gray-800.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') #SKP-567
				//- 							td.text-end 7 min ago
				//- 							td.text-end
				//- 								a.text-gray-600.text-hover-primary(href='#') Dan Wilson
				//- 							td.text-end AED590.00
				//- 							td.text-end
				//- 								span.text-gray-800.fw-bolder AED50.00
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-success Shipped
				//- 							td.text-end
				//- 								button.btn.btn-sm.btn-icon.btn-light.btn-active-light-primary.toggle.h-25px.w-25px(type='button' data-kt-table-widget-4='expand_row')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-off
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.5' x='11' y='18' width='12' height='2' rx='1' transform='rotate(-90 11 18)' fill='currentColor')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- 									span.svg-icon.svg-icon-3.m-0.toggle-on
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(x='6' y='11' width='12' height='2' rx='1' fill='currentColor')
				//- .row.gy-5.g-xl-10
				//- 	.col-xl-4
				//- 		.card.card-flush.h-xl-100
				//- 			.card-header.pt-7
				//- 				h3.card-title.align-items-start.flex-column
				//- 					span.card-label.fw-bold.text-dark Product Delivery
				//- 					span.text-gray-400.mt-1.fw-semibold.fs-6 1M Products Shipped so far
				//- 				.card-toolbar
				//- 					a.btn.btn-sm.btn-light(href='../../demo1/dist/apps/ecommerce/sales/details.html') Order Details
				//- 			.card-body
				//- 				.hover-scroll-overlay-y.pe-6.me-n6(style='height: 415px')
				//- 					.border.border-dashed.border-gray-300.rounded.px-7.py-3.mb-6
				//- 						.d-flex.flex-stack.mb-3
				//- 							.me-3
				//- 								img.w-50px.ms-n1.me-1(src='/admin/assets/media/stock/ecommerce/210.gif' alt='')
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Elephant 1802
				//- 							.m-0
				//- 								button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
				//- 									span.svg-icon.svg-icon-1
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
				//- 											rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 								.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
				//- 									.menu-item.px-3
				//- 										.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
				//- 									.separator.mb-3.opacity-75
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Ticket
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Customer
				//- 									.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
				//- 										a.menu-link.px-3(href='#')
				//- 											span.menu-title New Group
				//- 											span.menu-arrow
				//- 										.menu-sub.menu-sub-dropdown.w-175px.py-4
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Admin Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Staff Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Member Group
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Contact
				//- 									.separator.mt-3.opacity-75
				//- 									.menu-item.px-3
				//- 										.menu-content.px-3.py-3
				//- 											a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
				//- 						.d-flex.flex-stack
				//- 							span.text-gray-400.fw-bold
				//- 								| To:
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/sales/details.html') Jason Bourne
				//- 							span.badge.badge-light-success Delivered
				//- 					.border.border-dashed.border-gray-300.rounded.px-7.py-3.mb-6
				//- 						.d-flex.flex-stack.mb-3
				//- 							.me-3
				//- 								img.w-50px.ms-n1.me-1(src='/admin/assets/media/stock/ecommerce/209.gif' alt='')
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') RiseUP
				//- 							.m-0
				//- 								button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
				//- 									span.svg-icon.svg-icon-1
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
				//- 											rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 								.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
				//- 									.menu-item.px-3
				//- 										.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
				//- 									.separator.mb-3.opacity-75
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Ticket
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Customer
				//- 									.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
				//- 										a.menu-link.px-3(href='#')
				//- 											span.menu-title New Group
				//- 											span.menu-arrow
				//- 										.menu-sub.menu-sub-dropdown.w-175px.py-4
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Admin Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Staff Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Member Group
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Contact
				//- 									.separator.mt-3.opacity-75
				//- 									.menu-item.px-3
				//- 										.menu-content.px-3.py-3
				//- 											a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
				//- 						.d-flex.flex-stack
				//- 							span.text-gray-400.fw-bold
				//- 								| To:
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/sales/details.html') Marie Durant
				//- 							span.badge.badge-light-primary Shipping
				//- 					.border.border-dashed.border-gray-300.rounded.px-7.py-3.mb-6
				//- 						.d-flex.flex-stack.mb-3
				//- 							.me-3
				//- 								img.w-50px.ms-n1.me-1(src='/admin/assets/media/stock/ecommerce/214.gif' alt='')
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Yellow Stone
				//- 							.m-0
				//- 								button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
				//- 									span.svg-icon.svg-icon-1
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
				//- 											rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 								.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
				//- 									.menu-item.px-3
				//- 										.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
				//- 									.separator.mb-3.opacity-75
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Ticket
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Customer
				//- 									.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
				//- 										a.menu-link.px-3(href='#')
				//- 											span.menu-title New Group
				//- 											span.menu-arrow
				//- 										.menu-sub.menu-sub-dropdown.w-175px.py-4
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Admin Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Staff Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Member Group
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Contact
				//- 									.separator.mt-3.opacity-75
				//- 									.menu-item.px-3
				//- 										.menu-content.px-3.py-3
				//- 											a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
				//- 						.d-flex.flex-stack
				//- 							span.text-gray-400.fw-bold
				//- 								| To:
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/sales/details.html') Dan Wilson
				//- 							span.badge.badge-light-danger Confirmed
				//- 					.border.border-dashed.border-gray-300.rounded.px-7.py-3.mb-6
				//- 						.d-flex.flex-stack.mb-3
				//- 							.me-3
				//- 								img.w-50px.ms-n1.me-1(src='/admin/assets/media/stock/ecommerce/211.gif' alt='')
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Elephant 1802
				//- 							.m-0
				//- 								button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
				//- 									span.svg-icon.svg-icon-1
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
				//- 											rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 								.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
				//- 									.menu-item.px-3
				//- 										.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
				//- 									.separator.mb-3.opacity-75
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Ticket
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Customer
				//- 									.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
				//- 										a.menu-link.px-3(href='#')
				//- 											span.menu-title New Group
				//- 											span.menu-arrow
				//- 										.menu-sub.menu-sub-dropdown.w-175px.py-4
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Admin Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Staff Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Member Group
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Contact
				//- 									.separator.mt-3.opacity-75
				//- 									.menu-item.px-3
				//- 										.menu-content.px-3.py-3
				//- 											a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
				//- 						.d-flex.flex-stack
				//- 							span.text-gray-400.fw-bold
				//- 								| To:
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/sales/details.html') Lebron Wayde
				//- 							span.badge.badge-light-success Delivered
				//- 					.border.border-dashed.border-gray-300.rounded.px-7.py-3.mb-6
				//- 						.d-flex.flex-stack.mb-3
				//- 							.me-3
				//- 								img.w-50px.ms-n1.me-1(src='/admin/assets/media/stock/ecommerce/215.gif' alt='')
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') RiseUP
				//- 							.m-0
				//- 								button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
				//- 									span.svg-icon.svg-icon-1
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
				//- 											rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 								.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
				//- 									.menu-item.px-3
				//- 										.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
				//- 									.separator.mb-3.opacity-75
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Ticket
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Customer
				//- 									.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
				//- 										a.menu-link.px-3(href='#')
				//- 											span.menu-title New Group
				//- 											span.menu-arrow
				//- 										.menu-sub.menu-sub-dropdown.w-175px.py-4
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Admin Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Staff Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Member Group
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Contact
				//- 									.separator.mt-3.opacity-75
				//- 									.menu-item.px-3
				//- 										.menu-content.px-3.py-3
				//- 											a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
				//- 						.d-flex.flex-stack
				//- 							span.text-gray-400.fw-bold
				//- 								| To:
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/sales/details.html') Ana Simmons
				//- 							span.badge.badge-light-primary Shipping
				//- 					.border.border-dashed.border-gray-300.rounded.px-7.py-3
				//- 						.d-flex.flex-stack.mb-3
				//- 							.me-3
				//- 								img.w-50px.ms-n1.me-1(src='/admin/assets/media/stock/ecommerce/192.gif' alt='')
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Yellow Stone
				//- 							.m-0
				//- 								button.btn.btn-icon.btn-color-gray-400.btn-active-color-primary.justify-content-end(data-kt-menu-trigger='click' data-kt-menu-placement='bottom-end' data-kt-menu-overflow='true')
				//- 									span.svg-icon.svg-icon-1
				//- 										svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
				//- 											rect(opacity='0.3' x='2' y='2' width='20' height='20' rx='4' fill='currentColor')
				//- 											rect(x='11' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='15' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 											rect(x='7' y='11' width='2.6' height='2.6' rx='1.3' fill='currentColor')
				//- 								.menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px(data-kt-menu='true')
				//- 									.menu-item.px-3
				//- 										.menu-content.fs-6.text-dark.fw-bold.px-3.py-4 Quick Actions
				//- 									.separator.mb-3.opacity-75
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Ticket
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Customer
				//- 									.menu-item.px-3(data-kt-menu-trigger='hover' data-kt-menu-placement='right-start')
				//- 										a.menu-link.px-3(href='#')
				//- 											span.menu-title New Group
				//- 											span.menu-arrow
				//- 										.menu-sub.menu-sub-dropdown.w-175px.py-4
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Admin Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Staff Group
				//- 											.menu-item.px-3
				//- 												a.menu-link.px-3(href='#') Member Group
				//- 									.menu-item.px-3
				//- 										a.menu-link.px-3(href='#') New Contact
				//- 									.separator.mt-3.opacity-75
				//- 									.menu-item.px-3
				//- 										.menu-content.px-3.py-3
				//- 											a.btn.btn-primary.btn-sm.px-4(href='#') Generate Reports
				//- 						.d-flex.flex-stack
				//- 							span.text-gray-400.fw-bold
				//- 								| To:
				//- 								a.text-gray-800.text-hover-primary.fw-bold(href='../../demo1/dist/apps/ecommerce/sales/details.html') Kevin Leonard
				//- 							span.badge.badge-light-danger Confirmed
				//- 	.col-xl-8
				//- 		.card.card-flush.h-xl-100
				//- 			.card-header.pt-7
				//- 				h3.card-title.align-items-start.flex-column
				//- 					span.card-label.fw-bold.text-dark Stock Report
				//- 					span.text-gray-400.mt-1.fw-semibold.fs-6 Total 2,356 Items in the Stock
				//- 				.card-toolbar
				//- 					.d-flex.flex-stack.flex-wrap.gap-4
				//- 						.d-flex.align-items-center.fw-bold
				//- 							.text-muted.fs-7.me-2 Cateogry
				//- 							select.form-select.form-select-transparent.text-dark.fs-7.lh-1.fw-bold.py-0.ps-3.w-auto(data-control='select2' data-hide-search='true' data-dropdown-css-class='w-150px' data-placeholder='Select an option')
				//- 								option
				//- 								option(value='Show All' selected='selected') Show All
				//- 								option(value='a') Category A
				//- 								option(value='b') Category B
				//- 						.d-flex.align-items-center.fw-bold
				//- 							.text-muted.fs-7.me-2 Status
				//- 							select.form-select.form-select-transparent.text-dark.fs-7.lh-1.fw-bold.py-0.ps-3.w-auto(data-control='select2' data-hide-search='true' data-dropdown-css-class='w-150px' data-placeholder='Select an option' data-kt-table-widget-5='filter_status')
				//- 								option
				//- 								option(value='Show All' selected='selected') Show All
				//- 								option(value='In Stock') In Stock
				//- 								option(value='Out of Stock') Out of Stock
				//- 								option(value='Low Stock') Low Stock
				//- 						a.btn.btn-light.btn-sm(href='../../demo1/dist/apps/ecommerce/catalog/products.html') View Stock
				//- 			.card-body
				//- 				table#kt_table_widget_5_table.table.align-middle.table-row-dashed.fs-6.gy-3
				//- 					thead
				//- 						tr.text-start.text-gray-400.fw-bold.fs-7.text-uppercase.gs-0
				//- 							th.min-w-100px Item
				//- 							th.text-end.pe-3.min-w-100px Product ID
				//- 							th.text-end.pe-3.min-w-150px Date Added
				//- 							th.text-end.pe-3.min-w-100px Price
				//- 							th.text-end.pe-3.min-w-50px Status
				//- 							th.text-end.pe-0.min-w-25px Qty
				//- 					tbody.fw-bold.text-gray-600
				//- 						tr
				//- 							td
				//- 								a.text-dark.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Macbook Air M1
				//- 							td.text-end #XGY-356
				//- 							td.text-end 02 Apr, 2022
				//- 							td.text-end AED1,230
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-primary In Stock
				//- 							td.text-end(data-order='58')
				//- 								span.text-dark.fw-bold 58 PCS
				//- 						tr
				//- 							td
				//- 								a.text-dark.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Surface Laptop 4
				//- 							td.text-end #YHD-047
				//- 							td.text-end 01 Apr, 2022
				//- 							td.text-end AED1,060
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-danger Out of Stock
				//- 							td.text-end(data-order='0')
				//- 								span.text-dark.fw-bold 0 PCS
				//- 						tr
				//- 							td
				//- 								a.text-dark.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Logitech MX 250
				//- 							td.text-end #SRR-678
				//- 							td.text-end 24 Mar, 2022
				//- 							td.text-end AED64
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-primary In Stock
				//- 							td.text-end(data-order='290')
				//- 								span.text-dark.fw-bold 290 PCS
				//- 						tr
				//- 							td
				//- 								a.text-dark.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') AudioEngine HD3
				//- 							td.text-end #PXF-578
				//- 							td.text-end 24 Mar, 2022
				//- 							td.text-end AED1,060
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-danger Out of Stock
				//- 							td.text-end(data-order='46')
				//- 								span.text-dark.fw-bold 46 PCS
				//- 						tr
				//- 							td
				//- 								a.text-dark.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') HP Hyper LTR
				//- 							td.text-end #PXF-778
				//- 							td.text-end 16 Jan, 2022
				//- 							td.text-end AED4500
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-primary In Stock
				//- 							td.text-end(data-order='78')
				//- 								span.text-dark.fw-bold 78 PCS
				//- 						tr
				//- 							td
				//- 								a.text-dark.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Dell 32 UltraSharp
				//- 							td.text-end #XGY-356
				//- 							td.text-end 22 Dec, 2022
				//- 							td.text-end AED1,060
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-warning Low Stock
				//- 							td.text-end(data-order='8')
				//- 								span.text-dark.fw-bold 8 PCS
				//- 						tr
				//- 							td
				//- 								a.text-dark.text-hover-primary(href='../../demo1/dist/apps/ecommerce/catalog/edit-product.html') Google Pixel 6 Pro
				//- 							td.text-end #XVR-425
				//- 							td.text-end 27 Dec, 2022
				//- 							td.text-end AED1,060
				//- 							td.text-end
				//- 								span.badge.py-3.px-4.fs-7.badge-light-primary In Stock
				//- 							td.text-end(data-order='124')
				//- 								span.text-dark.fw-bold 124 PCS
