// begin::Image input
style.
  .image-input-placeholder {
  background-image: url('/admin/assets/media/svg/files/blank-image.svg');
  }
  [data-theme="dark"] .image-input-placeholder {
  background-image: url('/admin/assets/media/svg/files/blank-image-dark.svg');
  } 
.image-input.image-input-empty.image-input-outline.image-input-placeholder(data-kt-image-input='true' )
  if(contentDetail && contentDetail.content[brandLanguage.prefix] && contentDetail.content[brandLanguage.prefix][cf.field_name] && contentDetail.content[brandLanguage.prefix][cf.field_name].media_url)
    .image-input-wrapper.w-125px.h-125px(id=`img-preview`  style=`background-image:url(${contentDetail.content[brandLanguage.prefix][cf.field_name].media_url}`)  
    input(name=`${cf.field_name}-url[${brandLanguage.prefix}]` value=JSON.stringify(contentDetail.content[brandLanguage.prefix][cf.field_name])   hidden)
  else 
    .image-input-wrapper.w-125px.h-125px
  label.btn.btn-icon.btn-circle.btn-color-muted.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(data-kt-image-input-action='change' data-bs-toggle='tooltip' data-bs-dismiss='click' title='Change avatar')
    i.bi.bi-pencil-fill.fs-7
    input(type='file' name=`${cf.field_name}.${brandLanguage.prefix}` id=`image-input.${brandLanguage.prefix}` accept='.png, .jpg, .jpeg')
  span.btn.btn-icon.btn-circle.btn-color-muted.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(data-kt-image-input-action='cancel' data-bs-toggle='tooltip' data-bs-dismiss='click' title='Cancel avatar')
    i.bi.bi-x.fs-2
  span.btn.btn-icon.btn-circle.btn-color-muted.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(data-kt-image-input-action='remove' data-bs-toggle='tooltip' data-bs-dismiss='click' title='Remove avatar')
    i.bi.bi-x.fs-2
