extends ../../../layouts/master.pug

block csslib
	link(href='/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css')
	link(href='/admin/assets/plugins/global/plugins.bundle.css' rel='stylesheet' type='text/css')
	link(href='/admin/assets/css/style.bundle.css' rel='stylesheet' type='text/css')

block jslib
	// begin::Vendors Javascript(used by this page)
	script(src='/admin/assets/plugins/custom/datatables/datatables.bundle.js')
	script(src='/admin/assets/plugins/custom/formrepeater/formrepeater.bundle.js')
	// end::Vendors Javascript
	// begin::Custom Javascript(used by this page)
	script(src='/admin/assets/js/custom/apps/ecommerce/catalog/save-category.js')
	script(src='/admin/assets/js/widgets.bundle.js')
	script(src='/admin/assets/js/custom/widgets.js')
	script(src='/admin/assets/js/custom/apps/chat/chat.js')
	script(src='/admin/assets/js/custom/utilities/modals/upgrade-plan.js')
	script(src='/admin/assets/js/custom/utilities/modals/create-app.js')
	script(src='/admin/assets/js/custom/utilities/modals/users-search.js')

	// CKEditor Build Bundles
	script(src='/admin/assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js')

	// Form Submission Script
	script(src='/common/js/form-data-json.min.js')
	script(src='/common/js/es-form.js')

block customScript 
	script.
		document.querySelectorAll('.content_wysiwyg').forEach(function(e) {
			ClassicEditor
			.create(document.querySelector(`#${e.getAttribute('id')}`))
			.then(editor => {
			})
			.catch(error => {
			console.error(error);
			});
		})
		function deleteImage(el){
			const id = el.getAttribute('id')

			Swal.fire({
				text: 'Are you sure you want to delete ?',
				icon: 'warning',
				showCancelButton: !0,
				buttonsStyling: !1,
				confirmButtonText: 'Yes, delete!',
				cancelButtonText: 'No, cancel',
				customClass: {
					confirmButton: 'btn fw-bold btn-danger',
					cancelButton: 'btn fw-bold btn-active-light-primary',
				},
			}).then((e) => {
				if (e.value) {
					fetch('/ecommerce/catalog/categories/delete-image', {
						method: 'POST',
						cache: 'no-cache',
						headers: {
							Accept: 'application/json',
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({
							id,
						}),
					})
						.then(async (res) => {
							const status = res.status
							let data = await res.json()
							if (status >= 200 && status < 300) {
								Swal.fire({
									text: data.message || 'You have deleted  !.',
									icon: 'success',
									buttonsStyling: !1,
									confirmButtonText: 'Ok',
									customClass: {
										confirmButton: 'btn fw-bold btn-primary',
									},
								}).then(() => {
									location.reload()
								})
							} else {
								Swal.fire({
									text: data.error || 'Something went wrong !.',
									icon: 'warning',
									buttonsStyling: !1,
									confirmButtonText: 'Ok, got it!',
									customClass: {
										confirmButton: 'btn fw-bold btn-primary',
									},
								})
							}
						})
						.catch((err) => {
							Swal.fire({
								text: 'Something went wrong !.',
								icon: 'warning',
								buttonsStyling: !1,
								confirmButtonText: 'Ok, got it!',
								customClass: {
									confirmButton: 'btn fw-bold btn-primary',
								},
							})
						})
				}
			})
		}


block content
	.d-flex.flex-column.flex-column-fluid
		#kt_app_toolbar.app-toolbar.py-3.py-lg-6
			#kt_app_toolbar_container.app-container.container-xxl.d-flex.flex-stack
				.page-title.d-flex.flex-column.justify-content-center.flex-wrap.me-3
					h1.page-heading.d-flex.text-dark.fw-bold.fs-3.flex-column.justify-content-center.my-0
						| Edit
						| Category
					ul.breadcrumb.breadcrumb-separatorless.fw-semibold.fs-7.my-0.pt-1
						li.breadcrumb-item.text-muted
							a.text-muted.text-hover-primary(href='/admin/dashboard') Home
						li.breadcrumb-item
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted eCommerce
						li.breadcrumb-item
							span.bullet.bg-gray-400.w-5px.h-2px
						li.breadcrumb-item.text-muted 
							a.text-muted.text-hover-primary(href='/admin/ecommerce/catalog/categories') Categories
		#kt_app_content.app-content.flex-column-fluid
			#kt_app_content_container.app-container.container-xxl
				form#kt_subscriptions_create_new.form.es-form.d-flex.flex-column.flex-lg-row(action=`/admin/ecommerce/catalog/categories/save` data-kt-redirect-url=`/admin/ecommerce/catalog/categories`  method='post')
					//- Hidden id field
					input(type='text'  value=`${category._id}` name=`id` hidden )
					input(hidden name="method" value="edit")
					.d-flex.flex-column.flex-row-fluid.gap-7.gap-lg-10
						.card.card-flush.py-4
							.card-header
								.card-title
									h2.fw-bold General
								.card-toolbar
									button.btn.btn-sm.btn-success.form-submit-btn(type='submit')
										span.label Save
										span.preloader.d-none Saving...
							.card-body.pt-0
								ul.nav.nav-tabs.nav-line-tabs.mb-5.fs-6
									each brandLanguage, i in authAdmin.selected_brand.languages
										li.nav-item
											a.nav-link(class= (i== 0 ? 'active' : '') data-bs-toggle='tab' href=`#kt_tab_pane_${brandLanguage.prefix}`) #{brandLanguage.name}
								#myTabContent.tab-content.tab-content-fields
									each brandLanguage, i in authAdmin.selected_brand.languages
										.tab-pane.fade(class= (i== 0 ? 'active show' : '') role='tabpanel' id=`kt_tab_pane_${brandLanguage.prefix}`)
											.d-flex.flex-column.mb-8.fv-row.fv-plugins-icon-container

												.col-md-6
													label.d-flex.align-items-center.fs-6.fw-semibold.mb-2
														span.required  Category name (#{brandLanguage.prefix})
														i.fas.fa-exclamation-circle.ms-2.fs-7(data-bs-toggle='tooltip' aria-label='Specify a target name for future usage and reference' data-kt-initialized='1')

													input.form-control(type='text' placeholder='Enter Category name' value=`${category.name[brandLanguage.prefix]}` name=`name[${brandLanguage.prefix}]`)
													.fv-plugins-message-container.invalid-feedback(id=`field-error-name_${brandLanguage.prefix}`)
												.col-md-6
													// begin::Label
													label.d-flex.align-items-center.fs-6.fw-semibold.mb-2
														span.required  Description (#{brandLanguage.prefix})
														i.fas.fa-exclamation-circle.ms-2.fs-7(data-bs-toggle='tooltip' aria-label='Specify a target name for future usage and reference' data-kt-initialized='1')
													// end::Label
													textarea.content_wysiwyg(name=`description[${brandLanguage.prefix}]` id=`wysiwyg-${brandLanguage.prefix}-${i}`) #{category.description[brandLanguage.prefix]}
												.fv-plugins-message-container.mt-2.invalid-feedback(id=`field-error-description_${brandLanguage.prefix}`)
												.alert.bg-warning.d-flex.align-items-center.p-5.col-md-6.mt-5
													span.svg-icon.svg-icon-2hx.svg-icon-primary.me-3
													.d-flex.flex-column
														span Prefered Upload File size for Category is 715px X 450px
												style.
													.image-input-placeholder {
													background-image: url('/admin/assets/media/svg/files/blank-image.svg');
													}
													[data-theme="dark"] .image-input-placeholder {
													background-image: url('/admin/assets/media/svg/files/blank-image-dark.svg');
													}
												.mt-2
													label.d-flex.align-items-center.fs-6.fw-semibold.mb-5
														span.required  Category Image (#{brandLanguage.prefix})
													//- if(category.image && category.image[brandLanguage.prefix] &&  category.image[brandLanguage.prefix].media_url)
													//- 	.image-input.image-input-empty.image-input-outline.image-input-placeholder.mb-3(data-kt-image-input='true')
													//- 		.image-input-wrapper.w-150px.h-150px(id=`img-preview`  style=`background-image:url(${category.image[brandLanguage.prefix].media_url}`)
													//- 		label.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(id=category._id onClick='deleteImage(this)' data-kt-image-input-action='change'  data-bs-toggle='tooltip' title='Delete image')
													//- 			i.fa-solid.fa-trash.text-danger
													//- 		input(type='file' name=`image.${brandLanguage.prefix}` accept='.png, .jpg, .jpeg' hidden)

													//- else 
													.image-input.image-input-empty.image-input-outline.image-input-placeholder.mb-3(data-kt-image-input='true' style='<br /> <b>Warning</b>: Undefined variable $imageBg in <b>C:\wamp64\www\keenthemes\core\html\dist\view\pages\apps\ecommerce\catalog\edit-product\_thumbnail.php</b> on line <b>30</b><br />')
														if(category.image && category.image[brandLanguage.prefix] &&  category.image[brandLanguage.prefix].media_url)
															.image-input-wrapper.w-150px.h-150px(id=`img-preview`  style=`background-image:url(${category.image[brandLanguage.prefix].media_url}`)
															input(name=`image_url[${brandLanguage.prefix}]` value=JSON.stringify(category.image[brandLanguage.prefix])   hidden)
														else 
															.image-input-wrapper.w-150px.h-150px
														label.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(data-kt-image-input-action='change' data-bs-toggle='tooltip' title='Change avatar')
															i.bi.bi-pencil-fill.fs-7
															input(type='file' name=`image.${brandLanguage.prefix}` accept='.png, .jpg, .jpeg')
														span.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(data-kt-image-input-action='cancel' data-bs-toggle='tooltip' title='Cancel avatar')
															i.bi.bi-x.fs-2
														span.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-body.shadow(data-kt-image-input-action='remove' data-bs-toggle='tooltip' title='Remove avatar')
															i.bi.bi-x.fs-2
												.fv-plugins-message-container.invalid-feedback(id=`field-error-image_${brandLanguage.prefix}`)
								.col-md-6
									label.d-flex.align-items-center.fs-6.fw-semibold.mb-2
										span.required  Category position
									input.form-control(type='number' placeholder='Enter position'  name=`position` value=category.position)
									.fv-plugins-message-container.invalid-feedback(id=`field-error-position`)
									label.d-flex.align-items-center.fs-6.fw-semibold.mb-2
										span.required  Status
									select#kt_ecommerce_add_category_status_select.form-select.mb-2(data-control='select2' data-hide-search='true' value=`${category.published}` data-placeholder='Select an option' name="published")
										option(value="true" selected=category.published==true) Published
										option(value="false" selected=category.published==false) Unpublished
									.text-muted.fs-7 Set the category status.